@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1qg0jr');
    src:    url('fonts/icomoon.eot?1qg0jr#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1qg0jr') format('truetype'),
        url('fonts/icomoon.woff?1qg0jr') format('woff'),
        url('fonts/icomoon.svg?1qg0jr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\ea92";
}

