.crema-bg{
	background-color: #e4dece;
}
map area {
    outline: none;
}

.padding-0 {
    padding: 0!important;
}

.hover-blue:hover {
    color: #70abc3!important;
}

/*Sections */

#section0{overflow: hidden!important;}

#section1, #section2,#section3,#section4,#section5{overflow: hidden!important;z-index: 200}

#section0 .fp-tableCell{display: block!important;}

#section0 .carousel-inner{overflow: visible!important;}

/*text styles*/
.maven{font-family: 'Maven Pro', sans-serif;}
.roboto{font-family: 'Roboto', sans-serif;}
.medium{font-weight: 500;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.menu span{text-shadow: 0 1px 2px rgba(0,0,0,.6);}

/*font sizes*/
.size-13{font-size: 13px;}
.size-15{font-size: 15px;}
.size-17{font-size: 17px;}
.size-18{font-size: 18px;}
.size-19{font-size: 19px;}
.size-20{font-size: 20px;}
.size-22{font-size: 22px;}
.size-24{font-size: 24px;}
.size-25{font-size: 25px;}
.size-30{font-size: 30px;}
.size-45{font-size: 45px;}
.size-50{font-size: 50px;}
.size-66{font-size: 66px;}

.facebook-icon span:before{font-size: 35px;}
.instagram-icon span:before{font-size: 35px;}
.tweet-icon span:before{font-size: 35px;}

/*colors*/
.white-text{color: #fff;}
.gray-text{color: #646464;}
.blue-text{color: #70abc3;}
.strong-gray{color: #2f1e03}
.light-blue{color: #c4daf1}

/* botones */
.no-decoration{text-decoration: none;}
.no-decoration:hover{text-decoration: none;}
.conoce-mas{background-color: #adbe7f;
padding: 15px 40px; }
.conoce-mas:hover{background-color: #238d7c;
padding: 15px 40px; color:#fff;}

.btn-footer {
    background-color: #5ca5c0;
    color: #fff!important;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold!important;
    border: 0px!important;
    font-size: 13px;
    border-radius: 0!important;
}
.btn-footer:hover{background-color: #31a393;}

.btn-send {
    border-radius: 0px!important;
    background-color: #5ca5c0;
    color: #fff!important;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold!important;
    padding: 10px!important;
    border: none!important;
}
.btn-send:hover{background-color: #31a393;}

.form-contacto-enviar {
    border-radius: 0px!important;
    background-color: #5ca5c0!important;
    color: #fff!important;
    font-family: 'Maven Pro', sans-serif;
    font-size: 29px;
    font-weight: bold!important;
    padding: 5px 22px!important;
    border: none!important;
}
   
.form-contacto-enviar:hover {
    background-color: #31a393!important;
}

/*margins*/
.margin-bottom-20{margin-bottom: 20px;}
.margin-left-35{margin-left: 35px;}
.margin-20-0{margin: 20px 0;}

.hr-parallax{border-top: 1px solid  #231f20; margin:30px 0;}



.amenidades-home{background-color: #c4daf1;}

.header-content{position: absolute; z-index: 200;margin: 0 auto;left: 4%;right: 4%;
padding-top: 20px}

.menu {
    margin: 40px 0;
}
.menu h4{  color: #fff;}

a.close-menu.no-decoration {
    position: absolute;
    right: 150px;
    z-index: 300;
}
.menu-item {
    width: 100%;
    border-radius: 0!important;
}
.menu-item:hover, .menu-item:active, .menu-item:focus, .menu-item:focus {
    text-decoration: none;
    color: #fff;
    background-color: #e57a73;
}

.lang-selected{text-decoration: none;
    color: #e57a73;
    /*background-color: #e57a73;*/}
ul.dropdown-menu {
    position: relative!important;
    background: transparent;
    border: none;
    color: #fff;
    box-shadow: none;
}
.dropdown-menu li {
    color: #fff;
    background: #6a6a6a!important;
    margin-bottom: 2px;
    padding: 0;
}
.dropdown-menu li a {
    color: #fff!important;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

.dropdown-menu li a:hover, .dropdown-menu li a:active, .dropdown-menu li a:visited, .dropdown-menu li a:focus {
    background-color: #e57a73!important;
    width: 100%;
}

.input-newsletter {
    border: 0!important;
    border-radius: 0!important;
    padding: 20px 10px!important;
}



.redes-menu {
    margin-top: 20px;
}

.carousel .item {
    width: 100%; /*slider width*/
    /*max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

.carousel-caption {
    left: 5%!important;
    right: 5%!important;
    bottom: 20px;
    padding-bottom: 0;
}

.home-section1{
	background-image: url('../images/general/textura-madera.jpg');
}

.home_this {
    position: absolute;
    display: inline;
    width: 38px;
    top: 30%;
    left: 0;
    bottom: 30%;
}

.home-parallax-image{
    height: 100%;
    min-height: 100%;
    padding: 0;
}

#section0 .controlArrow{display: none;}

.textura-madera {
    background-image: url('../images/general/textura-madera.jpg');
}

.master-plan-madera{padding: 50px 0;}

.master-plan-acotacion1{    
    background-color: #70abc3;
    padding: 5px 14px;
    margin-right: 10px;
    border-radius: 15px;}
.master-plan-acotacion2{    
    background-color: #3B9558;
    padding: 5px 14px;
    margin-right: 10px;
    border-radius: 15px;}
.master-plan-acotacion3{    
    background-color: #257F34;
    padding: 5px 14px;
    margin-right: 10px;
    border-radius: 15px;}

.master-plan-info ul li{margin: 15px 0;}

.disponibilidad-info ul li{margin: 15px 0;}
.disponibilidad-actacion1{background-color: #fff;
    padding: 5px 14px;
    border-radius: 15px;}
.disponibilidad-actacion2{background-color: #ffdfa3;
    padding: 5px 14px;
    border-radius: 15px;}
.disponibilidad-actacion3{background-color: #dc8bbd;
    padding: 5px 14px;
    border-radius: 15px;}
.disponibilidad-actacion4{background-color: #496fff;
    padding: 5px 14px;
    border-radius: 15px;}

.disponibilidad-actacion5{background-color: #ffee00;
    padding: 5px 14px;
    border-radius: 15px;}
.disponibilidad-actacion6{background-color: #bc65ce;
    padding: 5px 14px;
    border-radius: 15px;}
.disponibilidad-actacion7{background-color: #df981a;
    padding: 5px 14px;
    border-radius: 15px;}
.marginbotDisponibilidad{
    margin-bottom: 20px!important;
}
.disponibilidad-select{   
display: inline-block;
    vertical-align: middle;
    position: relative;
    height: auto;}    

.disponibilidad-select select{    
        vertical-align: super;
    margin-left: 80px;
    width: 280px;
    height: 40px;
    padding: 0 0 0 10px;
    color: #646464;
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
    font-style: italic;
    -webkit-appearance: none;
    font-weight: 500}
.disponibilidad-select:after{
    content: "";
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 40%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid #646464;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

div#atstbx{
    float: right;
    margin-top: -15px;
    padding: 10px 0;
}

.addthis_sharing_toolbox img:first-child{display: none;}

footer {
    background-image: url('../images/general/textura-madera.jpg');
    bottom: 0;
}

.at4-share-outer.addthis-smartlayers.addthis-smartlayers-desktop {
    display: none;
}

footer span.flaticon-cellphone67.white-text:before {
    margin: 0;
    font-size: 15px;
    vertical-align: middle;
}

.madera-ubicacion{border:1px solid; padding:0;position: absolute;z-index: 10;bottom: 5%; left:0; padding:0; padding: 20px 30px}

/***blog****/
.text-blog{color: #646464;font-size: 17px;    font-family: 'Roboto', sans-serif;text-align: justify;}
.more-blog{
    font-family: 'Maven Pro', sans-serif;
    background-color: #31a393;
    color:#fff;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 30px;
}

.more-blog:hover{background-color: #238d7c; color:#fff;}

/****----pager-------******/

div#fp-nav {
    background-color: rgba(255,255,255,0.7);
    right: 0!important;
    padding: 15px 1px;
}
#fp-nav ul li a span {
    background: #6f6f6f;
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
}
#fp-nav ul li a.active span{
    background-color: #e57a73
}
#fp-nav ul li .fp-tooltip.right {
        right: 22px;
        top: -10px;
        font-size: 17px;
        color: #2f1e03;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: rgba(255,255,255,0.7);
        padding: 2px 10px;
}

/******-------Popup Contacto -------*****/
.custom-contact-popup{background-color: transparent!important; box-shadow: none!important;}
.fancybox-overlay {

    background: rgba(0, 0, 0, 0.7)!important;
}

.contacto-form input, .contacto-form textarea {
    border: 0!important;
    border-radius: 0;
    color: #646464;
    padding: 0 0 0 20px;
    font-size: 16px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
.contacto-datos{border-left:1px solid #fff; padding-top:10px; padding-bottom:130px;}

.lang-menu{width: 200px;
    position: absolute;
    left: 100px;}

.close-menu span:hover {color: #e57a73!important}
label.error {color: white;font-size: 12px;font-family: 'Roboto', sans-serif;}
.volver-atras-blog{color: #5ca5c0}
.volver-atras-blog:hover{color: #31a393}
.info-otras-secciones{margin-top: -150px;}

/*full width container*/
@media (max-width: 767px) {
    .size-45 {font-size: 25px;}
    .size-66 {font-size: 30px;}
    .size-50 {font-size: 30px;}
    .facebook-icon span:before{font-size: 30px; margin-left: 10px;}
    .instagram-icon span:before{font-size: 30px; margin-left: 10px;}
    .tweet-icon span:before{font-size: 30px; margin-left: 10px;}
    .redes-texto-menu{margin-left: 20px;float: none!important;vertical-align: text-bottom;}
    .proximamente{font-size: 45px;}
    .disponibilidad-crema .size-45 {font-size: 30px;}
    .disponibilidad-crema .size-66 {font-size: 36px;}
    footer{text-align: center}
    footer .form-group{    margin-left: 0px;margin-right: 0px;}
    .footer-tel,.footer-news{margin-top: 10px; margin-bottom: 10px;}
    .footer-news span{margin-bottom: 10px;}
    .btn-footer {    padding: 8px 6px;
    font-size: 10px;}
    .block {margin-left: -20px;margin-right: -20px;}
    .menu{margin:5px 0;}
    .cd-primary-nav-trigger{background-color: transparent!important;}
    .cd-primary-nav-trigger{width: 110px!important;}
    .madera-ubicacion{position: relative;}
    .disponibilidad-select select{ margin-left: 0;width: 270px; }
    .contacto-datos{border-left:none}
    .dropdown-menu{width: 100%}
    a.close-menu {position: relative!important;right: 0!important;}
    #section1, #section2, #section3, #section4, #section5 {overflow:visible; !important; z-index: 200;}
    .ms-left{position: static!important;width: 100%!important;}
    .ms-right{position: static!important;width: 100%!important;}
    .lang-menu{width: auto;text-align: center;position: relative;left: 0;}
    #section0{height: auto!important;}
    #section0 .fp-tableCell{height: auto!important;}
    #section0 .fp-tableCell .carousel .carousel-inner .item img{height: auto!important;}
    #section4 .fp-tableCell{display: block!important;}
    #section3 .fp-tableCell{display: block!important; height: auto!important;}
    #section3{height: auto!important;}
    #section4 .info-otras-secciones{margin-top: 0!important;}
    .ms-section {min-height: 300px;}
    .home-parallax-padding{padding: 40px 15px 30px 15px;}
    footer{position: relative!important;}
    .home-parallax-image{min-height: 400px;}
    #news input#email {width: 70%!important;}
    #news .btn-footer {width: 30%!important;}
}
    @media(min-width:768px) and (max-width:991px){
        #section1, #section2, #section3, #section4, #section5 {overflow:visible; !important; z-index: 200;}
        .ms-left{position: static!important;width: 100%!important;}
        .ms-right{position: static!important;width: 100%!important;}
        .lang-menu{width: auto;text-align: center;position: relative;left: 0;}
        #section0,#section1, #section2, #section3, #section4{height: auto!important;}
        #section0 .fp-tableCell{height: auto!important;}
        #section1 .fp-tableCell{height: auto!important;}
        #section2 .fp-tableCell{height: auto!important;}
        #section4 .fp-tableCell{height: auto!important;}
        #section0 .fp-tableCell .carousel .carousel-inner .item img{height: auto!important;}
        #section4 .fp-tableCell{display: block!important;}
        #section3 .fp-tableCell{display: block!important; height: auto!important;}
        #section3{height: auto!important;}
        #section4 .info-otras-secciones{margin-top: 0!important;}
    }
    @media(min-width:992px) and (max-width:1199px){
        #section1, #section2, #section3, #section4, #section5 {overflow:visible; !important; z-index: 200;}
        .ms-left{position: static!important;width: 100%!important;}
        .ms-right{position: static!important;width: 100%!important;}
        .lang-menu{width: auto;text-align: center;position: relative;left: 0;}
        #section0,#section1, #section2, #section3, #section4{height: auto!important;}
        #section0 .fp-tableCell{height: auto!important;}
        #section1 .fp-tableCell{height: auto!important;}
        #section2 .fp-tableCell{height: auto!important;}
        #section4 .fp-tableCell{height: auto!important;}
        #section0 .fp-tableCell .carousel .carousel-inner .item img{height: auto!important;}
        #section4 .fp-tableCell{display: block!important;}
        #section3 .fp-tableCell{display: block!important; height: auto!important;}
        #section3{height: auto!important;}
        #section4 .info-otras-secciones{margin-top: 0!important;}
    }   