    /*
    Flaticon icon font: Flaticon
    Creation date: 15/11/2016 15:57
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-down-arrow:before { content: "\f100"; }
.flaticon-error:before { content: "\f101"; }
.flaticon-facebook-app-logo:before { content: "\f102"; }
.flaticon-instagram-logo:before { content: "\f103"; }
.flaticon-pinterest-logotype-circle:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }
    
    $font-Flaticon-down-arrow: "\f100";
    $font-Flaticon-error: "\f101";
    $font-Flaticon-facebook-app-logo: "\f102";
    $font-Flaticon-instagram-logo: "\f103";
    $font-Flaticon-pinterest-logotype-circle: "\f104";
    $font-Flaticon-twitter-logo-silhouette: "\f105";