	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/11/2016 15:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 25px;
  font-style: normal;
  margin: 10px!important;
}

.flaticon-down-arrow:before { content: "\f100";font-size:55px!important;}
.flaticon-error:before { content: "\f101";font-size: 35px!important; }
.flaticon-facebook-app-logo:before { content: "\f102"; }
.flaticon-instagram-logo:before { content: "\f103"; }
.flaticon-pinterest-logotype-circle:before { content: "\f104"; }
.flaticon-twitter-logo-silhouette:before { content: "\f105"; }



