html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: "helvetica-ln";
    src: url("../css/Helvetica_Light-Normal.ttf");
}
@font-face {
    font-family: "Futura";
    src: url("../css/FtraBk.ttf");
}

#wrapper{
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#header{
    height: 105px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
#header p{
    color: #595959;
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold;
  
    
    
}
.logo{ width: 300px;}
#panel-filtro{
    width: 100%;
    margin-top: 30px;
}
#panel-filtro table{
    width: 80%;
    margin: 0 auto;
   
}
#panel-filtro table tr{
    float: left;
    width: 25%;
    margin: 0;
}
#panel-filtro table tr.rango{
    width: 53%!important;
}
#panel-filtro table tr td{}

#panel-filtro table tr td a,#panel-filtro table tr td span{
    color: #727272;
    text-decoration: none;
    text-transform: uppercase;
/*    font-weight: bold;*/
    font-size: 13px;
    
    font-family: 'Futura',helvetica;
    outline: none;
}

#lista-encuestas{
    width: 80%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x:  hidden;
    margin: 0 auto;
    margin-top: 23px;
}

#lista-encuestas table.main-table tr{
    
    width: 100%;
    padding: 10px 0 10px 20px;

}
#lista-encuestas table.main-table tr.resultado{
    width: 100%;
    display: none;
}
#lista-encuestas table.main-table tr.resultado td{
    width: 100%!important;
    border-bottom: 1px solid black;
    text-align: left;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
#lista-encuestas table.main-table tr.table-header{
    background: #595959;
    color: white;
    font-family: 'helvetica-ln',arial;
    
    
}
.table-header{
    font-weight: bold;
}
#lista-encuestas table.main-table tr.item-list{
    border-bottom: 1px solid #000;
}
#lista-encuestas table.main-table td{
    
    font-family: helvetica;
    font-size: 15px;
    text-align: center;
    
}
#lista-encuestas table.main-table{
    width: 100%;
  
   
}



#promedio{
    margin-top: 50px;
    width: 79.8%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    border: 1px solid #727272;
    background: white;
}
.tit-promedio > p{
    cursor: pointer;
    
    color: white;
    float: left;
    font-family:helvetica;
    
    font-size: 15px;
    word-spacing: -1px;
    width: 80%;
    height: 66%;
    text-align: center;
    
}
#promedio table{
    display: none;
}

#promedio table{
    
}
#promedio table tr{
    
}
#promedio table tr.header-totales{
/*    font-weight: bold;*/
    font-family: 'Futurabook',helvetica;
    
    
}
#promedio table tr{
    border-right: 1px solid black;
   float: left;
    width: 950px;
    height: 24px;
/*    padding: 5px 0;*/
    border-bottom: 1px solid black;
}

#promedio table tr td{
    border-left: 1px solid black;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 90px;
    height: 80%;
    font-family: helvetica;
    padding-top: 5px;
    
}

#promedio table tr td.primero{
    
   width: 350px !important;
   text-align: left!important;
   border: none!important;
   margin-left: 20px;
   font-family: helvetica;
      
}
input{
    width: 75px;
}
.botonExcel{
    cursor: pointer;
    float: left;
    width: 30px;
}
.form-excel{
bottom: 10px;
height: 22px;
position: absolute;
right: 10px;
}
#lista-encuestas .pregunta{
    font-family: helvetica;
    font-size: 13px;
    margin-right: 2px;
    
}
#lista-encuestas .respuesta{
    font-family: helvetica;
    font-size: 12px;
    
}

#lista-encuestas .item-encuesta{
    font-family: helvetica;
    outline: none;
    cursor: pointer;
    
}

.tit-promedio{
       background: #000000;
    height: 22px;
    padding-top: 6px;
    width: 100%;
}
.boton-ir{
        float: right;
    height: 25px;

    width: 42px;
}
.form-excel p{
    font-family: helvetica;
    font-size: 14px;
    color: black;
    float: left;
    margin-top: 8px;
    
    
}

.tamanio td, .tamanio{
    font-size: 13px!important;
}
#boton-salir{
    float: right;
    left: 0px;
   margin-top: -27px;
   margin-right: 28px;
}
#boton-salir a img{
    width: 72px;
}
#boton-salir a{
    outline: none;
    text-decoration: none;
}
.main-table{
    
}
.resultado p{
        border-bottom: 1px solid black;
    float: left;
    height: 20px;
    width: 100%;
}
.boton-basura{
    cursor: pointer;
}
.selected{
    
      border-bottom: 1px solid black;
}
#boton-arriba, #boton-abajo{
    float: left;
    cursor: pointer;
    
}
#boton-arriba{
    display: block;
    
}
#boton-abajo{
    display: none;
        margin-left: 17px;
    margin-top: 9px;
}
.boton-arriba2{
      float: left;
    margin-left: 17px;
    margin-top: 9px;
}

#exportar-excel{
    
}