	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/09/2016 17:30
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-down-arrow:before { content: "\f100"; }
.flaticon-error:before { content: "\f101"; }
.flaticon-facebook-app-logo:before { content: "\f102"; }
.flaticon-instagram-logo:before { content: "\f103"; }
.flaticon-menu-button:before { content: "\f104"; }
.flaticon-new-email-interface-symbol-of-black-closed-envelope:before { content: "\f105"; }
.flaticon-twitter-logo-silhouette:before { content: "\f106"; }