.starter-template {
    padding: 40px 15px;
    text-align: center;
}    
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
.color-1{color:#ffffff;}
.color-2{color:#49B2A4;}
.color-3{color:#868686;}
.color-4{color:#333D47;}
.color-5{color:#CFCFCF;}
.color-rgba{color:rgba(153,153,153,153);}
/*------------------------------------*\
    $FONTS
\*------------------------------------*/
.font-family-lato{font-family: 'Lato', sans-serif;}
.italic{font-style: italic;}
.font-size-45{font-size: 45px}
.font-size-30{font-size: 21px}
.font-size-55{font-size: 40px}
.font-size-24{font-size: 20px}
.font-size-25{font-size: 21px!important}
.font-size-20{font-size: 20px}
.font-size-35{font-size: 35px}
.font-size-15{font-size: 15px}
.font-size-17{font-size: 17px}



.vertical-padre{display:table;height:100%;}
.vertical-hijo{display:table-cell;vertical-align:middle;}
.vertical-padre-fina{display:table;height: 140px}
.vertical-hijo-fina{display:table-cell;vertical-align:middle;}

select {
     background: white;
     font-size: 14px;
     height: 45px;
     padding: 5px;
     width: 72%;
     border-radius: 0;  
  }

.placeholder-white ::-webkit-input-placeholder { color: white; }
.placeholder-white :-moz-placeholder           { color: white; }
.placeholder-white ::-moz-placeholder          { color: white; }
.placeholder-white :-ms-input-placeholder      { color: white; }


.select
     {
      
      -webkit-border-radius: 0px;
     }
.fancybox-skin{
  background:none!important;
  box-shadow: none!important;
}
.show{display:block; }
.not-show{display:none; }
.width-33{width: 33%}
.width-23{width: 23%}
.width-10{width: 10%}
.show-lotes{visibility:visible;position:relative;}
.not-show-lotes{visibility:hidden!important;position: fixed;}
.height-553{height:553px;}
.height-480{height:480px;}
.height-100{height:100%;}
.cd-primary-nav{background:rgba(0,0,0,0.8)!important;}
.width-70{width:70%;}
.width-100{width: 100%}
.margin-0{margin:0 }

.padding-left-35{padding-left: 35px}
.padding-tb-60{padding: 60px 0px}
.padding-tb-50{padding: 50px 0px}
.padding-tb-40{padding: 40px 0px}
.padding-tb-20{padding: 20px 0px}
.padding-bot-60{padding: 0px 0px 80px 0px}
.margin-top-0{margin-top: 0}
.margin-top-70{margin-top: 70px}
.margin-bottom-20{margin-bottom: 20px}
.margin-bottom-75{margin-bottom: 75px}
.margin-top-35{margin-top:35px}
.margin-left-20{margin-left: 20px;}
.margin-top-15{margin-top: 15px}
.margin-top-10{margin-top: 10px }
.margin-left-35{margin-left: 55px}
.font-size-25-px{font-size: 25px!important}
.background-madera{background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');}
.img-center{display:flex;margin:0 auto;}
.amenidades-home img{display:flex;margin:0 auto;width:70%;}
.bienvenidos-home div img{display:flex;margin:0 auto;width:44%;}
.padding-0{padding: 0!important;}
.explorar-button{background-color:transparent;color:#ffffff;padding:10px 40px;border:2px solid white;}
.disponibilidad-button{background-color:transparent;color:#49B2A4;padding:10px 40px;border:2px solid #49B2A4;}
.enviar-button{background-color:transparent;color:#ffffff;padding:10px 40px;border:2px solid white;}
.enviar-button-menu{background-color:transparent;color:#ffffff;padding:10px 20px;border:2px solid white;}
.agendar-button{background-color:transparent;color:#ffffff;padding:3px 20px;border:2px solid white;}
.padding-galeria div{padding: 0px }
.padding-galeria{padding: 10px 0px }
.padding-galeria div img{width: 100%}
.padding-top-11{padding-top: 11px}
.padding-top-20{padding-top: 20px}
.form-input{width: 90%;height:60px;border-radius: 0px;margin-bottom: 25px;}
.form-text-area{width: 95%;height:200px;border-radius: 0px;}
.background-madera{background-repeat: no-repeat;background-size: 100% 100%;}
.max-width-50{max-width: 40%!important}
.amenidades-home div p{margin-top:15px;font-weight: bold}
.bold{font-weight: bold}
.menu-a a:hover{text-decoration: none;color:#49B2A4;}
.position-absolute{position: absolute;right:0.01%;top:0.001%;}
.position-relative{position: relative;}
.position-absolute-flecha{position: absolute!important;bottom:18%;}
.button-masterplan{color: black;background-color: white;}

.button-hover:hover{background-color: white;color: black;font-weight: 600;}
.button-hover2:hover{background-color: #49B2A4;color: white;font-weight: 400;}
.button-hover3:hover{background-color: white;color:rgb(70,54,44);font-weight: 500;}
.button-hover3-master:hover{background-color: white;color:rgb(70,54,44);font-weight: 500;}
video { 
max-width: 100%; max-height: 100%;
}
a:hover{text-decoration: none!important}
a:link{text-decoration: none!important}
/*a:active, a:hover{color: transparent;}*/
.flaticon-error:before {color: #49B2A4!important}
.cd-logo {left: 6.6em;}
/*------------------------------------*\
    $MEDIA QUERIES
\*------------------------------------*/
/* Extra Small */
@media(max-width:768px){
.font-size-30-ipad{font-size: 30px!important}
.font-size-12-ipad{font-size: 12px}
.font-size-35-ipad{font-size: 35px;}
.margin-0-ipad{margin: 0!important}
.margin-top-15-ipad{margin-top: 15px}
.cd-header{background:rgba(0,0,0,1)!important;}
.width-50-responsive{width: 55%!important;text-align: center}
.height-blog{height: 80px!important}
.margin-tb-40-responsive{margin:40px 0px }
.margin-left-20-ipad{margin-left: 20px!important}
.height-364-ipad{height:327px!important;}
.min-height-blog-ipad{min-height:500px!important}
#myCarousel{margin-top: 50px;}
}

@media(max-width:767px){
  .padding-tb-40-responsive{padding:40px 0px }
  .margin-top-30-ipad{margin-top: 30px;}
  .vertical-padre-ipad{display:table;height:100%;}
  .margin-0-responsive{margin:0;}
  .display-block{display: block}
  .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; }
  .text-xs-justify { text-align: justify; }
  .padding-left-25{padding-left: 20%!important;}
  .margin-bottom-20-ipad{margin-bottom:20px }
  .vertical-padre-fina{height: 75px!important}
  .padding-bottom-responsive-35{padding-bottom: 35px;}
  .amenidades-home-responsive img{display:flex;margin:0 auto;width:44%;}
  .min-height-blog-responsive{min-height:400px!important}
  .font-size-18-responsive{font-size:18px!important}
}
/* Small */
@media(min-width:768px) and (max-width:991px){}

/* Medium */
@media(min-width:992px) and (max-width:1199px){}

/* Large */
@media(min-width:1200px){}


.global {
  height: 545px;
  /*width: 200px;*/
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}
.mensajes {
  height: auto;
}
.texto {
  padding:4px;
  background:#fff;
}