.transp
{
	position: relative;
}

.navbar
{
	
	background: url("/assets/frontend/index/img/fondo-index.jpg");
	padding: 0;
	margin: 0;
}

.img-fondo
{
   
	/*background: url(/frontend/index/img/fondo-index.jpg);*/
    height: 400px;
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: 100% 77%;
    position: relative;
    padding: 0;

}

.overlay-custom
{
	position: absolute;
    height: 100%;
    width: 100%;
    background: #d3d3d3db;
    z-index: 0;
    bottom: 0%;
}

.overlay-custom h1
{
	padding: 3%;
	font-weight: bolder;
}

.overlay-custom p
{
	width: 80%;
	margin: 0 auto;
	padding: 0 7%;
}

.line
{
	position: absolute;
    height: 5%;
    width: 100%;
    background: #96cbab;
    bottom: 0;
}

.padding0
{
	padding:0;
}

.fondo-planta
{
	background: url(/assets/frontend/index/img/fondo-index.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}

.section-1, .section-2
{
	height: 100%;
}

.section-3, .section-4,.section-7
{
	height: 100%;
}

.white-color
{
	padding: 8% 8%;
	background: white;
}

.section-1, .section-4, .section-5, .section-8
{
	text-align: center;
}

.section-1 h1, .section-4 h1, .section-5 h1, .section-8 h1
{
	color: #96cbab;
    /*padding-bottom: 1%;
    padding-top: 5%;*/
}

.section-1 img, .section-4 img, .section-5 img, .section-8 img
{
	height: 250px;
	width: 480px;
	object-fit: cover;
	overflow:hidden;
}

.section-2 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: right;
}

.section-3 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: left;
}

.section-6 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: right;
}

.section-7 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: left;
}


.chunk-right
{
	float: right;
	/*width: 48%;*/
}

.chunk-left
{
	float: right;
	/*width: 48%;*/
}

footer
{
	margin-top: -9%;
	position: absolute;
	width: 100%;
}
.transp
{
	z-index: 1;
}

/*.overlay-custom
{
	position: absolute;
    height: 100%;
    width: 100%;
    background: #d3d3d3db;
    z-index: 1;
    bottom: 0;
    padding: 5%;
}*/

.overlay-custom p
{
	width: 80%;
	margin: 0 auto;
	padding: 0 7%;
}

.line
{
	position: absolute;
    height: 5%;
    width: 100%;
    background: #96cbab;
    bottom: 0;
}

.padding0
{
	padding:0;
}

.fondo-planta
{
	background: url(/assets/frontend/index/img/fondo-index.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
}

.section-1 h1, .section-4 h1, .section-5 h1, .section-8 h1,.section-9 h1
{
	
	font-weight: 700;

}

.section-1, .section-2, .section-3, .section-4, .section-5,  .section-6, .section-7, .section-8, .section-9, .section-10
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:3%;
}

.section-1, .section-2
{
	height: 100%;
	
}

.section-3, .section-4,.section-7, .section-10
{
	height: 100%;
	
}

.white-color
{
	padding: 8% 8%;
	background: white;
}

.section-1, .section-4, .section-5, .section-8, .section-9
{
	text-align: center;
	height: 100%;
}

.section-1 h1, .section-4 h1, .section-5 h1, .section-8 h1, .section-9 h1
{
	color: #96cbab;
	margin-top: 0;
    /*padding-bottom: 1%;
    padding-top: 5%;*/
}

.section-1 img, .section-4 img, .section-5 img, .section-8 img, .section-9 img
{
	/*height: 250px;
	width: 480px;*/
	
	height: 100%;
	width: 100%;
	
	object-fit: cover;
	margin:0 auto;
}

.section-2 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: right;
}

.section-3 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: left;
}

.section-6 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: right;
}

.section-7 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: left;
}

.section-10 .line-green
{
	background: #96cbab;
	height: 5px;
	width: 50px;
	float: right;
}


footer
{
	margin-top: -9%;
	position: absolute;
	width: 100%;
}

.div-bird
{
	background: url(/assets/frontend/amenidades/bird.png);
    position: absolute;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    bottom: -67%;
    z-index: 2;
}

@media (max-width: 1200px)
{
	.chunk-left,.chunk-right
	{
		width: 100%;
	}

	.fondo-planta
	{
		height: auto;
	}

	.section-1, .section-4, .section-5, .section-8, .section-9
	{
		padding: 10%;
	}

	.div-bird
	{
		display: none;
	}

	.text-right
	{
		text-align: center;
	}

	.line-green
	{
		float: none !important;
		margin:0 auto;
	}
}
