/*body
	{
		background: url(/assets/frontend/index/img/fondo-index.jpg);
	}*/

	.navbar
	{
		
		background: url("/assets/frontend/index/img/fondo-index.jpg");
		padding: 0;
		margin: 0;
	}
	
	.transp
	{
		position: relative;
		width: 100%;
    	z-index: 4;
	}

	.img-fondo
	{
        height: 300px;
        background-size: cover;        
        background-repeat: no-repeat;
        background-position: 100% 77%;
        position: relative;
        padding: 0;

	}

	.overlay-custom
	{
		/*position: absolute;*/
	    height: 100%;
	    width: 100%;
	    background: #d3d3d3db;
	    /*z-index: 1;*/
	    /*bottom: 5%;*/
	}

	.overlay-custom h1
	{
		padding: 3%;
    	font-weight: bolder;
	}

	.overlay-custom p
	{
		width: 80%;
    	margin: 0 auto;
    	padding: 0 7%;
	}

	.line
	{
		position: absolute;
	    height: 5%;
	    width: 100%;
	    background: #96cbab;
	    bottom: 0;
	}

	.overlay-custom img
	{
		max-width: 250px;
	    object-fit: cover;
	    padding-top: 4%;
	    padding-bottom: 2%;
	}

	.mayakoba
	{
		padding: 0px 16%;
		padding-bottom: 5%;
		background: white;
	}

	.mayakoba h1
	{
		text-align: center;
    	padding: 3%;
    	font-weight: 700;
	}

	.mayakoba p
	{
		text-align: center;
		padding-bottom: 5%;
	}

	.s1
	{
		height: 300px;
	}

	.s1 img
	{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 100% 16%;
	}

	.s2
	{
		width: 100%;
    	overflow: hidden;
    	height: 300px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	white-space: nowrap;
	}

	.s2 div:first-child
	{
		width: 40%;
    	height: 100%;
    	display: inline-block;
    	position: relative;
	}

	.s2 div:last-child
	{
		width: 60%;
    	display: inline-block;
    	height: 100%;
    	position: relative;
	}

	.s2 div:first-child img
	{
		width: 100%;
    	height: 100%;
    	padding-right: 1%;
    	object-fit: cover;
	}

	.s2 div:last-child img
	{
		width: 100%;
    	height: 100%;
    	object-fit: cover;
	}

	/**/
	
	.s3
	{
		width: 100%;
    	overflow: hidden;
    	height: 300px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	white-space: nowrap;
	}

	.s3 div:first-child
	{
		width: 60%;
    	height: 100%;
    	display: inline-block;
    	position: relative;
	}

	.s3 div:last-child
	{
		width: 40%;
    	display: inline-block;
    	position: relative;
    	height: 100%;
	}

	.s3 div:first-child img
	{
		width: 100%;
    	height: 100%;
    	object-fit: cover;
	}

	.s3 div:last-child img
	{
		width: 100%;
    	height: 100%;
    	object-fit: cover;
	}

	.s1,.s2,.s3
	{
		position: relative;
	}

	.line-b
	{
		background: #96cbab;
		height: 20px;
	}
	
	.padding0
	{
		padding: 0;
	}

	.line-green
	{
		background: #96cbab;
		height: 5px;
		width: 50px;

		margin: 0 auto;
	}
	
	.section-last
	{
		height: 400px;
	    background: url(/assets/frontend/index/img/fondo-index.jpg);
	    height: 400px;
	    padding: 0;
	}
	
	.section-i
	{
		height: 100%;
    	background: white;
	}

	.box
	{
		padding: 16%;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    text-align: center;
	}

	.padding10
	{
		padding: 10px;
	}

	.section-d
	{
		height: 100%;
    	padding: 3%;
    	text-align: center;
	}

	.section-d img
	{
		height: 100%;
    	/*max-width: 480px;*/
    	width: 100%;
    	object-fit: cover;
    	box-shadow: 3px 3px 9px #414141;
	}

	.white-space
	{
		height: 60px;
		width:100%;
	}

	

	@media (max-width: 1024px)
	{
		.section-last
		{
			height: auto;
		}

		.s1, .s2, .s3
		{
			height: auto;
		}

		.s2 div,.s3 div
		{
			width: 100% !important;
			display: block !important;
			
		}

		.s2 div:first-child img
		{
			padding: 0px;
		}

		.s2 div:first-child, .s3 div:first-child
		{
			margin-bottom: 10px;
		}

		.mayakoba .container-images img
		{
			height: 400px !important;
		}
	}

	@media (max-width: 768px)
	{
		.mayakoba .container-images img
		{
			height: 200px !important;
		}
	}

	/**/
	.mayakoba .container-images
	{
		max-width: 950px;
		margin: 0 auto;
	}

	.mayakoba .container-images .s1 .text-custom
	{
		position: absolute;
    	text-align: center;
    	width: 100%;
    	margin-top: 18%;
	}

	.mayakoba .container-images .s1 .text-custom strong
	{
		color:#414141;
	}
	
	.mayakoba .container-images .s1 .text-custom p:first-child
	{
	    width: 200px;
	    background: #414141;
	    margin: 0 auto;
	    color: white;
	    padding: 10px;
	    font-weight: 700;
	}

	.mayakoba .container-images .s1 .text-custom p:last-child
	{
		padding: 10px;
    	color: white;
    	font-weight: 700;
	}

	/**/
	.mayakoba .container-images .s2 div:first-child .text-custom:first-child
	{
		position: absolute;
    	text-align: center;
    	width: 100%;
    	margin-top: 28%;
    	
	}

	.mayakoba .container-images .s2 div:first-child .text-custom:first-child strong
	{
		color:#414141;
	}
	
	.mayakoba .container-images .s2 div:first-child .text-custom:first-child p:first-child
	{
	    width: 200px;
	    background: #414141;
	    margin: 0 auto;
	    color: white;
	    padding: 10px;
	    font-weight: 700;
	}

	.mayakoba .container-images .s2 div:first-child .text-custom:first-child p:last-child
	{
		padding: 10px;
    	color: white;
    	font-weight: 700;
	}

	/**/
	.mayakoba .container-images .s2 div:last-child .text-custom
	{
		position: absolute;
    	text-align: center;
    	width: 100%;
    	margin-top: 20%;
	}

	.mayakoba .container-images .s2 div:last-child .text-custom strong
	{
		color:#414141;
	}
	
	.mayakoba .container-images .s2 div:last-child .text-custom p:first-child
	{
	    width: 200px;
	    background: #414141;
	    margin: 0 auto;
	    color: white;
	    padding: 10px;
	    font-weight: 700;
	}

	.mayakoba .container-images .s2 div:last-child .text-custom p:last-child
	{
		padding: 10px;
    	color: white;
    	font-weight: 700;
	}

	/**/

	/**/
	.mayakoba .container-images .s3 div:first-child .text-custom:first-child
	{
		position: absolute;
    	text-align: center;
    	width: 100%;
    	margin-top: 14%;
	}

	.mayakoba .container-images .s3 div:first-child .text-custom:first-child strong
	{
		color:#414141;
	}
	
	.mayakoba .container-images .s3 div:first-child .text-custom:first-child p:first-child
	{
	    width: 200px;
	    background: #414141;
	    margin: 0 auto;
	    color: white;
	    padding: 10px;
	    font-weight: 700;
	}

	.mayakoba .container-images .s3 div:first-child .text-custom:first-child p:last-child
	{
		padding: 10px;
    	color: white;
    	font-weight: 700;
	}

	/**/
	.mayakoba .container-images .s3 div:last-child .text-custom
	{
		position: absolute;
    	text-align: center;
    	width: 100%;
    	margin-top: 21%;
	}

	.mayakoba .container-images .s3 div:last-child .text-custom strong
	{
		color:#414141;
	}
	
	.mayakoba .container-images .s3 div:last-child .text-custom p:first-child
	{
	    width: 200px;
	    background: #414141;
	    margin: 0 auto;
	    color: white;
	    padding: 10px;
	    font-weight: 700;
	}

	.mayakoba .container-images .s3 div:last-child .text-custom p:last-child
	{
		padding: 10px;
    	color: white;
    	font-weight: 700;
	}

	/**/
	