body
{
	background: url("/assets/frontend/index/img/fondo-index.jpg");
	background-size: cover;        
    background-repeat: no-repeat;
    background-position: 100% 77%;
}

.transp
{
	position: relative;
	width: 100%;
    z-index: 1;
}

.img-fondo
{
    height: 720px;
}

.container-contact
{
	
}

.container-contact h1
{
	text-align: center;
	color: white;
	padding: 3%;
	font-weight: 700;
}

.box
{
    background: #e9e9e9d9;
    max-width: 800px;
    margin: 0 auto;
    padding: 8% 8%;
    box-shadow: 3px 3px 9px #000;
    position: relative;
}

.badge-inner
{
	position: absolute;
    width: 300px;
    height: 80%;
    background: #96cbab;
    padding: 3% 3%;
    left: -11%;
    bottom: 10%;
    box-shadow: 3px 1px 8px #a2a1a1;
}

.inputs
{
    display: table;
    width: 66%;
	float: right;
	white-space: nowrap;
}

.inputs input
{
	display: inline-block;
    width: 100%;
}

.inputs input:first-child
{
    margin-right: 8%;
}

.input-submit
{
	width: 50%;
	margin-right: 10px;
	float: right;
	text-align: center;
	
    
}

.input-submit input
{
	background: #96cbab;
    border-color: #96cbab;
    width: 120px;
    border-radius: 0;
    font-weight: 700;
}

.inputs input, .inputs textarea
{
	background: #9e9e9e80;
	border-radius: 0;
	border: none;
}

.inputs input
{
	height: 40px;
}

.form-control::-webkit-input-placeholder
{
    color: #929192;
}

.points
{
	height: 90px;
	color: white;
	padding: 0px 0px 12% 0px;
}

.points a
{
    color:white;
}

.points span:first-child
{
	display: inline-block;
    width: 40px;
    height: auto;
    vertical-align: top;
    font-weight: 700;
}

.points span i 
{
	font-size: 28px;
	
}

.points .fa-phone
{
	transform: scaleX(-1);
	
}

.points span:last-child
{
	display: inline-block;
	 
	vertical-align: top;
	font-weight: 300;
}

.badge-social-icons
{
	text-align: center;
	color: white;
	padding: 12% 0px;
	font-weight: 300;
}

.badge-social-icons span
{
	padding: 3px;
}
.badge-social-icons span i
{
	font-size: 24px;
}

.inputs div
{
	width: 46%;
    display: inline-block;
}

label.error
{
	
    display: block;
    color: #a94442;
}

.space8
	{
		width: 8%;
		display: inline-block;
	}

select[name="interesting"]
{
	width: 100%;
    border-radius: 0px;
    background: #b2b8b6;
    /*max-width: 190px;*/
    display: inline-block;
    color: #929192;
}

select[name="reason"]
{
	width: 100%;
    border-radius: 0px;
    background: #b2b8b6;
    /*max-width: 190px;*/
    display: inline-block;
    color: #929192;
}

@media (max-width: 768px)
{
	.container-contact .box
	{
		height: auto;
	}

	.container-contact .inputs
	{
		width: 100%;
		margin-right: 0;
		float: none;
	}

	.container-contact .input-submit
	{
		width: 100%;
		margin-right: 0;
		float: none;
	}

	.container-contact .badge-inner
	{
		position: relative;
		width: auto;
		height: auto;
		bottom: 0;
		left: 0;
		margin-bottom: 10px;
	}

	.img-fondo
	{
		height: auto;
		padding-bottom: 1%;
	}
	
	.points
    {
    	/*height: 50px;*/
    	height: auto;
    	color: white;
    	padding: 4% 0px;
    }
    
    .badge-social-icons
    {
        padding: 4% 0px;
    }

}

/* conflicto de estilos*/

.img-fondo .fas
{
	margin:0;
}

.fa-facebook-square
{
	margin:0;
}

/* conflicto de estilos*/