/* ulin*/
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    border: 5px solid 
#fff;
border-radius: 20px;
margin-top: 100px;
background:
    #eee;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


.badge-social-icons a
{
	color: white;
}

#contact-buttons-bar{
	left: 0 !important;
	right: auto !important;
}

.contact-button-link.whatsapp {
    background: #4EC85B !important;
}

.badge-social-icons a:hover
{
	text-decoration: none;
}
	
.title-square
{
	padding: 5% 0px;
	display: flex;
}

.title-square h1
{
	border: 5px solid #fff;
    padding: 1% !important;
    margin: 0 auto;
    color: #414141;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.padding0
{
	padding:0;
}

.margin0
{
	margin:0;
}

.seccion-promo .box2
{
	padding-top: 6%;
}

.seccion-promo .box2 img
{
	min-height: 70px;
	margin-top: 0 !important;
}

.modal-content
{
    border-radius: 0px;
    box-shadow: inherit;
    border: 0px;
}

.data-modal-content
{
    padding: 9%;
}
.data-modal-content p
{
   padding: 10px; 
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse
{
	max-height: inherit !important;
}

.green
{
    color:#96cbab;
}

.padding0
{
	padding: 0;
}

.navbar
{
    position:relative;
}

/* ulin*/
body{
    font-family: 'Montserrat', sans-serif;
    
}

a{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.zoom{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.shrink{
	background: rgba(0,0,0,0.8) !important;
}

.shrink li a {
	padding-top: 20px !important;
}

.shrink .caja-logo{
	padding: 20px 20px;
}


.caja-logo{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


.caja-logo img{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


.zoom:hover{
	transform: scale(1.1);
}


.navbar-default
{
	background: none;
	border-color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
.nav-center
{
	float: right;
    padding-right: 15%;
}
.navbar-nav li a 
{
    padding-top: 50px;
    padding-bottom: 5px;
}




.navbar-default .navbar-nav>li>a:hover 
{    
    background-color: transparent;
    color: #fff	;
}
.navbar-default .navbar-nav>li>a 
{
    color: black;    
}
.transp
{
	position: absolute;
	width: 100%;
	

}


.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
}
.caja-logo{
	padding: 51px;
}
.logo-publico {
    height: 25px;
}

.img-fondo{ 
	text-align: center; 
	
}

#mensaje {

	margin-top: 20%;
    text-align: center;
    width: 100%; 
    padding-bottom: 80px;   
}
#mensaje img{
    width: 250px;
}
#mensaje h2 {
	font-size: 15px;
	background: #232d2b;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	margin-top: 20px;
	font-weight: 300;
}

.img-fondo .fas{
	color: #fff;
	opacity: 0.7;
	font-size: 30px;
	margin-top: 150px;
	margin-bottom: 20px
}

hr{
	border: none;
	border-bottom: 3px solid #96cbab;
	width: 50px;
	margin: 20px auto 20px auto;
}


.box-slide{ position: relative; }
.box-slide1{
	width: 600px;
	height: 60%;
	background: transparent;
	color: white;
	position: absolute;	
	margin-top: 6%;
	left: 10%;
	z-index: 1;
}
.box-white{
	width: 500px;
	height: 350px;
	background: white;
	color: #c3c3c3;
	position: absolute;
	top: 18%;
	left: 50%;
	padding: 4% 5%;
	text-align: center;
}
.box-white h2
{
	color: #96cbab;
	

	
}
.box-white p
{
	font-weight: 300;
	text-align: center;
	color: #000;
}
.item
{
 	/*height: 300px;*/
 	
}
.item img
{
	/*height: 100% !important;  */ 		
    object-fit: cover;
}
.box-compromiso h2
{
	padding: 5%;
	text-align: center;
	color: #35d2a6;
	font-size: 29px;
	
	letter-spacing: 5px;
	font-weight: 700;
}
.box-gallery
{
	width: 25%;
    float: left;
    text-align: center;    
}
.box-gallery p
{
	height: 50px;
	font-size: 15px;
	
		font-weight: 700;
}
.box-photos
{
	background: white;
	padding: 1% 10%;
	padding-bottom: 8%;
}
.seccion-h2 h2
{
	text-align: center;
	padding: 3% 0%;
	color: #35d2a6;
	/*font-weight: bold;*/
	
	font-size: 35px;
}
.seccion-promo {
	background: transparent;
	position: relative;
}
.box-preventa{
	width: 515px;
}
.box-preventa img
{
    width: 100%;
    /* height: 306px; */
    object-fit: cover;
}
.box-preventa .footer
{
    padding: 3px;
    background: #96cbab;
    text-align: center;
    font-size:19px;
    font-weight: bold;
    padding-top: 14px;
    color: #f1f1f1;
    letter-spacing: 3px;
    
}

.box-vendidos .body
{
    text-align: center;
    padding-bottom: 40px;

}
.box-vendidos .footer
{
	
    background: #c62c2c;
    text-align: center;
    color: #f1f1f1;
    
    letter-spacing: 3px;
    font-size: 24px;
   

}
.box-vendidos .box2 .body img
{
	margin-top: 3%;
    
}
.box-vendidos .box2 .footer{
    background: #c62c2c;
    text-align: center;
    color: #f1f1f1;
    
    letter-spacing: 3px;
    font-size: 24px;
    
}
.box-pla-titulo{
	color:#96cbab;
	text-align: center;
	padding: 2% 0%;
	
}
.box-vive-footer img{

	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.box-vive-footer:hover a img{
	transform: scale(1.1);
}

.box-vive-footer{
   overflow: hidden;
}
.box-vive-playa{
	padding: 7% 0%;
}
.espacio{
    background: #472f2a;
    /* width: 100%; */
    display: block;
    height: 9%;
}
.box-guacamaya{
	position: absolute;
    right: 1%;
    top: -23%;
    z-index: 101;
}

.img-fondo{

	background: transparent;
	/* 
	background: url('/assets/frontend/index/img/fondo-index.jpg');
	background-size: cover;        
	background-repeat: no-repeat;
	background-position: 100% 77%; 
	 */
}

.box-green {
	background: #96cbab;
	padding: 10px;
}

.box-slide{
	background: url('/assets/frontend/index/img/box-slide.jpg');
	height: 500px;
	background-size: cover;        
	background-repeat: no-repeat;
	background-position: 100% 77%;
}

.box-gallery img{
	width: 95%;
	height: 230px;
    object-fit: cover;
}

.seccion-promo{
	
	background-position: 100% 77%;
}

.fondo-footer{
	background: url('/assets/frontend/index/img/footerparrot.png');
	min-height: 300px;     
	background-repeat: no-repeat;
	background-size: cover;
}

.box-green {			
	background: #96cbab;
	padding: 10px;
}

.box-footer{
	padding-top: 280px;
	padding-bottom: 40px;
}

.box-footers{			  
    height: 100%;
    position: relative;   		
}

.box-footers span{  
	color:#fafafa;
	font-size: 18px;
}

.box-footers .fab{ color: #fff; font-size: 20px; padding: 0 3px; }


.box-footers .redes-sendero{
	font-size:12px ;
	letter-spacing: 3px;
	color: #96cbab;
}

.fa-facebook-square{
	margin-left: 100px;
}

.box-footers .logofooter{
	width: 150px;
}

.box-footers .footer-derechos{
	font-size:13px;
	margin-left: 40px;
	letter-spacing: 1px;
}

.img-fondo2{
	background: url("/assets/frontend/index/img/fondo-index.jpg");
	min-height: 750px;
	background-size: cover;        
	background-repeat: no-repeat;
	background-position: 100% 77%;
	z-index: 1;
	padding-left: 0;
	position: relative;	
}

.img-fondo3{
	background: url("/assets/frontend/index/img/fondo-index.jpg");
	min-height: 110px;
	background-size: cover;        
	background-repeat: no-repeat;
	background-position: 100% 77%;
	z-index: 1;
	padding-left: 0;
	position: relative;	
}


.sombra{
	background: url("/assets/frontend/index/img/gris.jpg");
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.form-desarrollo{
	background: url("/assets/frontend/index/img/gris.jpg");
	background-size: cover;
	padding: 100px 0;
	text-align: center;
}

.form-desarrollo .btn{
	background: #20302e;
	border-radius: 0;
	color: #fff;
	margin-top: 40px;
}

/*.sombra h2{ display:block ; text-align: center; margin: 100px 0 }*/
.transp{ z-index: 2; }
.box-desarrollos { width: 100%; display: table; padding: 0px 5% 5% 5%;}


.caja{
	background: white;
    padding: 75px;
    max-height: 400px;
    height: 394px;
    overflow: hidden;
   	text-align:center;		
}

.caja p{
    text-align:justify;
    min-height: 155px;
}

.caja-img img{
    max-width: 340px;
    /*height: 37px;*/
    object-fit: cover;
    margin-bottom: 26px;
}

.caja-ven{
    text-align:center;
    background: red;
    padding: 2%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.btn-senderos{
	background: #96cbab;
	padding: 5px 60px; 
	border-radius: 0;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: table;
	border: none;
}

.btn-senderos:hover{
	background: #165428;
	color: #fff;
	text-decoration: none;
}

.box-photos2 .btn-senderos{
	margin: 60px auto 0 auto;
}

.box-gallery2{
	width: 20%;
	float: left;
	text-align: center;
	padding-bottom: 20px;    
}

.mapa img{ width: 100%; }

.box-gallery2 p{
	height: 50px;
	font-size: 15px;	
	padding-top: 47px; 
}

.obras{ padding: 40px 0; }

.box-photos2{
	background: #ececec;
	padding: 4% 5%;
	padding-bottom: 9%;
}
.desarrollo-p p{
	text-align:center;
	margin-bottom: 0px; 
	color: #818181;
	letter-spacing: 1px; 
}

.desarrollo-cont{ background:#ececec; }
.desarrollo-cont .img-cont { text-align:center; }
.desarrollo-cont .img-cont img { width: 15%; padding: 4% 0%; }
.box-obra1{ padding: 1%; }
.box-obra1 img
{ 
	width: 100%;
	max-height:200px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.box-obra1 img:hover{
	opacity: 0.8;
}

.box-obra-titulo h2 { text-align:center; font-size: 30px; color: #232d2b; }

.box-planes {
	text-align:center;
	padding:2%;
}

@media(max-width: 768px)
{
	.title-square
	{
		padding: 15% 0px;
	}

	.title-square h1
	{
		width: auto;
	}
	
	.box-planes
	{
		padding: 0;
		
	}

	.box-planes span
	{
		display: inline-block;
	}

	.box-planes span:first-child
	{
		width: 10%;
    	display: inline-block;
    	float: left;
	}

	.box-planes span:last-child
	{
		width: 81%;
    	display: inline-block;
    	float: left;
    	text-align: left;
	}

	.seccion-planes
	{
		padding: 120px 20px;
	}


}
 
.box-planes span{
	padding-right:3%;
	color:#75c080;
	height: 40px;
    
}

.box-planes p {
	text-align:center;
	color:#6c6c6c;
}	

.form-desarrollo input[type=text]{
	border: 1px solid #1f3d30;
	background: none;
	width: 100%;
	margin-top: 40px;
	color: #1f3d30;
	padding: 5px 10px;
}

.titulo-planes h2{ color: #96cbab; text-align: center; padding: 40px 0 }
.seccion-planes{ padding: 120px 0; }

.overlay-title{
	background: url("/assets/frontend/index/img/gris.jpg");
	background-size: cover;
	padding: 80px 0;
	text-align: center;
	width: 100%;
	display: table;
}

.overlay-title h2{ display: block; margin: 0 }

.mar{
	background: transparent;
	min-height: 500px;
	padding: 80px 0;
}

.super-title{
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	margin: 60px 0;
}

.super-title span{
	font-size: 50px;
	color: #96cbab;
	font-weight: 700;
}

.white-box{
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	padding: 80px 80px 60px 80px;
	color: #6c6c6c;
	font-weight: 300;
}

.foto-box{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	background: #fff;
	display: table;
	font-weight: 300;
	color: #6c6c6c;
	text-align: right;
	position: relative;
	margin: 50px 0;
	width: 100%;
	height: 500px;
}

.family-photo{
	background: url("/assets/frontend/ubicacion/familia.jpg");
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0
}

.tacos{
	background: url("/assets/frontend/ubicacion/tacos.jpg") no-repeat center center;
	background-size: cover;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0
}

.txt-family{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 60px;
}

.txt-family p{
	padding: 10px 80px;
}

.ubicacion-food{
	position: relative;
	display: table;
	width: 100%;
	color: #6c6c6c;
	background:white;
	font-weight: 300;
}

.two{ padding: 120px 0; }
.two img{width: 100%;}
.two h3{ color: #bbe9d0; font-weight: 700; }
.two p{ color: #6c6c6c; font-weight: 300; }

.ubicacion-food p{ padding: 120px 180px 0px 180px; }
.ubicacion-food hr{ margin-bottom: 100px; }
.cien{ width: 100%; }

.mitad{ display: inline-block; width: 50%; float: left; }

.see-availability{ padding: 5px 25px; }
.see-availability:hover{ color: #fff; text-decoration: none; background: #213534 }


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
{	
	.container-contact
	{
		padding: 0;
	}

	.caja p
	{
		padding:3%;
	}

	.box-planes p
	{
		text-align: center;
    	margin: 0 auto;
    	width: 90%;
	}

	#mensaje { margin-top: 50%; }
	.caja-logo{ padding: 20px 10px 10px 20px; }
	#bs-example-navbar-collapse-1{
		background: #1d3633;
		width: 100%;
		position: absolute;
		margin: 0;
		padding: 0;
		left: 0;
		right: 0;
		text-align: center;
		overflow: hidden;
	}

	#bs-example-navbar-collapse-1 .navbar-nav{
		margin: 0; 
	}

	#bs-example-navbar-collapse-1 li a{
		padding: 20px 0px;
		margin: 0;
	}
	.box-slide{	
		height: auto;
		display: block;
		position: relative;
		padding-bottom: 100px;
	}

	.box-slide1{
		width: 100%;
		left: 0;
		background: none;
		position: relative;
	}

	.box-slide1 img{ width: 100%; }
	.box-white{ width: 100%; position: relative; left: 0; }
	.box-gallery{ width: 50%; margin-bottom: 20px; }

	.box-guacamaya{ display: none; visibility: hidden;}
	.box-preventa{ width: 100%; margin-bottom: 20px; }
	.seccion-promo{ height: auto; padding-bottom: 40px; }

	.box-vive-footer img { height: auto;}
	.box-vive-footer{ margin-bottom: 20px; display: block; text-align: center;}
	.box-footers{ margin-bottom: 20px; text-align: center; }
	.box-footers .footer-derechos{ margin:0;  }
	.box-footers .logofooter{ width: auto; margin: 0; }
	.box-footers .redes-sendero{ margin: 0; }
	.navbar ul{ margin: 0 auto; width: 100%; }
	.fa-facebook-square{ margin-left: 0px; }

	.box-gallery2{width: 50%;}
	.box-gallery2 img{ width: 50%; margin-top: 20px;}

	.box-desarrollos { margin: 40px 0; }

	.sombra{ position: relative; }
	.sombra h2{ padding-top: 50px; }
	.desarrollo-cont .img-cont img { width: 40%; }

	.caja{ background: none; padding: 0; height: auto; margin-bottom: 40px; }
	.white-box{ padding: 40px 20px 20px 20px; text-align: center; }

	.foto-box .txt-family{ width: 100%; }
	.foto-box .family-photo{ display: none; }

	
	.ubicacion-food .mitad{ width: 100%; display: inline-block; height: auto; position: relative; }
	.ubicacion-food .tacos{  height: 400px  }
	.ubicacion-food p { padding: 100px 50px 0px 50px; text-align: center;}
}

.powered:hover,.powered:focus
{
	text-decoration: none;
	outline: none;
}

.powered span
{
	color: #669478;
	font-weight: 300;
	font-size: 10px;
}










