    /*
    Flaticon icon font: Flaticon
    Creation date: 12/08/2016 20:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-facebook-letter-logo:before { content: "\f100"; }
.flaticon-instagram-logo:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-pinterest-logo:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-twitter-logo-silhouette:before { content: "\f106"; }
    
    $font-Flaticon-facebook-letter-logo: "\f100";
    $font-Flaticon-instagram-logo: "\f101";
    $font-Flaticon-mail: "\f102";
    $font-Flaticon-phone-call: "\f103";
    $font-Flaticon-pinterest-logo: "\f104";
    $font-Flaticon-placeholder: "\f105";
    $font-Flaticon-twitter-logo-silhouette: "\f106";