	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/08/2016 20:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-facebook-letter-logo:before { content: "\f100"; }
.flaticon-instagram-logo:before { content: "\f101"; }
.flaticon-mail:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-pinterest-logo:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-twitter-logo-silhouette:before { content: "\f106"; }