<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="es"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

<head id="www-sitename-com" data-template-set="html5-reset">

	<link rel="icon" type="image/png" sizes="32x32" href="{{BASE_URL}}images/general/favicon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="">
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Senderos Ciudad Mayakoba</title>
	
	<meta name="title" content="Senderos" />
	<meta name="description" content="Senderos es un residencial planeado cuidadosamente que combina la elegancia y el lujo con la naturaleza y la conservación del medioambiente." />
	<meta name="author" content="Molcajete Mkt" />
	<!--Always force latest IE rendering engine (even in intranet) & Chrome Frame-->
	
	
	<!--  Mobile Viewport Fix
	http://j.mp/mobileviewport & http://davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Iconifier might be helpful for generating favicons and touch icons: http://iconifier.net -->
	
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK -->
		 
	
	<!-- The is the icon for iOS's Web Clip and other things.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->
	
	<!-- concatenate and minify for production -->
	<link rel="stylesheet" href="{{BASE_URL}}popup-navigation/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{BASE_URL}}popup-navigation/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="{{BASE_URL}}static/css/animate.min.css">

	<link href="{{BASE_URL}}static/css/style.css" rel="stylesheet">
	<link href="{{BASE_URL}}static/css/font/flaticon.css" rel="stylesheet">
	<link href="{{BASE_URL}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />

	<link rel="stylesheet" href="{{BASE_URL}}/bower_components/fancybox/source/jquery.fancybox.css" type="text/css" media="screen"/>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M7KRKBS');</script>
	<!-- End Google Tag Manager -->


	{% block css %}

	{% endblock %}
		<!--script type="application/ld+json">
	{
	  "@context" : "http://schema.org",
	  "@type" : "Organization",
	  "name" : "Brand Name",
	  "url" : "http://www.mysite.mx",
	  "logo" : "http://www.sitename.mx/static/website/image/logo-gulf.png",
	  "sameAs" : [
	    "https://www.facebook.com/sitename..",
	    "https://twitter.com/sitename..",
	    "https://www.instagram.com/sitename.."
	  ],
	  "contactPoint" : [{
    	"@type" : "ContactPoint",
    	"telephone" : "+52-800-000-0000",
    	"contactType" : "customer service",
    	"contactOption" : "TollFree",
    	"areaServed" : "MX"
  	  }]
	}
	</script-->
	<!-- This is an un-minified, complete version of Modernizr. 
		 Before you move to production, you should generate a custom build that only has the detects you need. -->
	<script src="{{BASE_URL}}bower_components/modernizr/modernizr.js"></script>






	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>

	
	<script src="{{BASE_URL}}popup-navigation/js/modernizr.js"></script> <!-- Modernizr -->

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-60781305-3', 'auto');
	  ga('send', 'pageview');
	</script>




	<!-- Application-specific meta tags -->
	<!-- Windows 8 -->

	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
	<title>{% block tittle %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
</head>

<body class="{% block bodyclass %}{% endblock %}">

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7KRKBS"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


<header class="cd-header">
		<div class="cd-logo"><a href="{{BASE_URL}}"><img class="max-width-50 img-responsive" src="{{BASE_URL}}images/general/logotipo-senderos-ciudad-mayakoba.png" alt="Logo"></a></div>
		<nav>
			<ul class="cd-secondary-nav">

				<div class="hidden-sl- hidden-xs main-menu">
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}">{{general.menu.home}}</a></li>
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/senderos-mayakoba">{{general.menu.senderos}}</a></li>
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/senderos-norte">{{general.menu.senderos_norte}}</a></li>
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/galeria">{{general.menu.gallery}}</a></li>
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/ciudad-mayakoba">{{general.menu.ciudad_mayakoba}}</a></li>
				<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}blog/index.php?lang={{LANG}}">{{general.menu.news}}</a></li>
				</div>

				<a class="pull-right" href="{{BASE_URL}}index.php/contacto#form" onclick="ga('send', 'event', 'Contacto', 'Clic', 'Agendar Cita');"><button type="submit" class="agendar-button button-hover">{{general.menu.agendar_cita}}</button></a>
			</ul>
		</nav> <!-- cd-nav -->
		<a class="cd-primary-nav-trigger hidden-lg hidden-sm" href="#0">
			<span class="cd-menu-text">{{general.menu.menu}}</span><span class="cd-menu-icon"></span>
		</a> <!-- cd-primary-nav-trigger -->
	</header>
	<nav>
		<ul class="cd-primary-nav menu-a">
			
			<li>

		
			{% if LANG == "es" %}
			<a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php?lang=es" style="color:#49B2A4;">ESP</a>
			{% else %}
			<a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php?lang=es">ESP</a>
			{% endif %}
			<span class="color-1">/</span>
			{% if LANG == "en" %}
			<a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php?lang=en" style="color:#49B2A4;">ENG</a>
			{% else %}
			<a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php?lang=en">ENG</a>
			{% endif %}

			</li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}">{{general.menu.home}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/senderos-mayakoba">{{general.menu.senderos}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/senderos-norte">{{general.menu.senderos_norte}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/galeria">{{general.menu.gallery}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/ciudad-mayakoba">{{general.menu.ciudad_mayakoba}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}blog/index.php?lang={{LANG}}">{{general.menu.news}}</a></li>
			<li><a class="font-size-25 font-family-lato color-1" href="{{BASE_URL}}index.php/contacto" onclick="ga('send', 'event', 'Contacto', 'Clic', 'Agendar Cita');">{{general.menu.contact}}</a></li>
			<hr class="width-33">
			<p class="font-size-25 font-family-lato color-1">{{general.menu.suscribete}}</p>

			<form class="margin-bottom-20 placeholder-white" id="news-menu" method="post">
        		<input type="text" required="" class="width-50-responsive enviar-button-menu width-23 margin-bottom-20" name="news" placeholder="TU E-MAIL" id="email" required>

        		<input type="submit" required="" class="width-50-responsive enviar-button-menu width-10 button-hover" value="{{general.menu.enviar}}">
        		<p class="font-size-25 font-family-lato color-1" id="response"></p>
           	</form>

			<a class="padding-0" href="https://www.facebook.com/senderosmayakoba/" target="_blank"><span class="color-1 font-size-25  flaticon-facebook-app-logo"></span></a>
			<a class="padding-0" href="https://twitter.com/SenderosMk" target="_blank"><span class="color-1 font-size-25  flaticon-twitter-logo-silhouette"></span></a>
			<a class="padding-0" href="https://www.instagram.com/senderosmayakoba/" target="_blank"><span class="color-1 font-size-25  flaticon-instagram-logo"></span></a>
			<a class="padding-0" href="https://es.pinterest.com/senderosmk/" target="_blank"><span class="color-1 font-size-25  flaticon-pinterest-logotype-circle"></span></a>
			<span class="color-1 font-size-25  font-family-lato margin-left-20 margin-0-ipad"> /SenderosMayakoba</span>
		</ul>
	</nav>
{% block content %}

{% endblock %}
<footer class="footer">
    <div class="container-fluid">
      <div class="row padding-tb-40">
        <div class="text-xs-center col-sm-6 col-xs-12 font-size-15 color-5 font-family-lato">
        
          <a href="https://www.facebook.com/senderosmayakoba/" target="_blank"><span class="margin-left-35 margin-0-ipad color-2 flaticon-facebook-app-logo"></span></a>
          <a href="https://twitter.com/SenderosMk" target="_blank"><span class="color-2 flaticon-twitter-logo-silhouette"></span></a>
          <a href="https://www.instagram.com/senderosmayakoba/" target="_blank"><span class="color-2 flaticon-instagram-logo"></span></a>
          <a href="https://es.pinterest.com/senderosmk/" target="_blank"><span class="color-2 flaticon-pinterest-logotype-circle"></span></a>
          <span class="margin-0 font-size-15 margin-left-20 margin-0-responsive">/SENDEROSMAYAKOBA</span>
        </div>
        <div class="col-sm-6 col-xs-12  text-center font-size-15 color-5 font-family-lato">
          <p class="margin-0 padding-top-11">TODOS LOS DERECHOS RESERVADOS &#174; SENDEROS CIUDAD MAYAKOBA</p>
        </div>
      </div>
    </div>
</footer>

<script src="{{BASE_URL}}popup-navigation/js/jquery-2.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
<script src="{{BASE_URL}}popup-navigation/js/main.js"></script> <!-- Resource jQuery -->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->

<script src="{{BASE_URL}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="http://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script> -->
<script type="text/javascript" src="{{BASE_URL}}/bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="{{BASE_URL}}static/js/main.js"></script>
<script src="{{BASE_URL}}static/js/countUp.js"></script>
<script src="{{BASE_URL}}static/css/lib/noframework.waypoints.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>

<script type="text/javascript">
var waypoint = new Waypoint({
  element: document.getElementById('element-waypoint'),
  handler: function(direction) {
	var home_options = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : '' 
};
	var home_options1 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : 'km' 
};
	var home_options2 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : 'm&sup2;' 
};
	var home_options3 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : '' 
};

var demo = new CountUp("home-count", 0, 20000, 0, 7.5, home_options);
demo.start();
var demo = new CountUp("home-count1", 0, 5, 0, 7.5, home_options1);
demo.start();
var demo = new CountUp("home-count2", 0, 130000, 0, 7.5, home_options2);
demo.start();
var demo = new CountUp("home-count3", 0, 20, 0, 7.0, home_options3);
demo.start();

  },
  offset: '75%'
})
</script>
<script type="text/javascript">
var waypoint = new Waypoint({
  element: document.getElementById('element-waypoint-ciudad'),
  handler: function(direction) {
	var ciudad_mayakoba_options = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : ' ha' 
};
	var ciudad_mayakoba_options1 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : ' km' 
};
	var ciudad_mayakoba_options2 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : ' ha' 
};
	var ciudad_mayakoba_options3 = {
  useEasing : true, 
  useGrouping : true, 
  separator : ',', 
  decimal : '.', 
  prefix : '', 
  suffix : '' 
};
var demo = new CountUp("ciudad-mayakoba-count", 0, 133.54, 2, 6.5, ciudad_mayakoba_options);
demo.start();
var demo = new CountUp("ciudad-mayakoba-count1", 0, 23.53, 2, 6.5, ciudad_mayakoba_options1);
demo.start();
var demo = new CountUp("ciudad-mayakoba-count2", 0, 5.19, 2, 6.5, ciudad_mayakoba_options2);
demo.start();
var demo = new CountUp("ciudad-mayakoba-count3", 0, 25, 0, 6.5, ciudad_mayakoba_options3);
demo.start();
 },
  offset: '75%'
})
</script>


<script type="text/javascript">
	$("select.mapa").change(function (){
    var option=document.getElementById("mapas").value;
    $(".all-select").addClass("not-show-lotes");
    $(option).toggleClass('not-show-lotes');
    $(option).toggleClass('show-lotes');
	});
</script>

<script type="text/javascript">
  var plan = JSON.parse('{{plan|json_encode|raw}}');
  $('.images-icons a.images-icons-content').click(function (){
    $('.all-icons').fadeIn('slow','swing');
    $('.images-icons').fadeOut(0,'swing');
    var id = $(this).attr('data-id');
    $('.array-image').attr("src",plan[id]['url']);
    document.getElementById("description").innerHTML = plan[id]['des'];
    });
</script>

<script type="text/javascript">
  $('.position-relative a.cerrar').click(function (){
    $('.all-icons').fadeOut(0,'swing');
    $('.images-icons').fadeIn('slow','swing');
  });
</script>

<script type="text/javascript">
  var images = JSON.parse('{{images|json_encode|raw}}');
  $('.images-show a.point').click(function (){
    $('.images-content-show').fadeIn('slow','swing');
    $('.images-content').fadeOut(0,'swing');
    var id = $(this).attr('data-id');
    $('.array-image').attr("src",images[id]['url']);
    });
</script>

<script type="text/javascript">
  $('a.cerrar2').click(function (){
    $('.images-content-show').fadeOut(0,'swing');
    $('.images-content').fadeIn('slow','swing');
  });
</script>

<script type="text/javascript">
	$('#myModal').on('shown.bs.modal', function () {
  		$('#myInput').focus()
	})
</script>

<script type="text/javascript">
	$('.image').fancybox({
  helpers: {
    overlay: {
      locked: false
    }
  }
});
</script>

	<!-- <script src="//code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
  
  <script type="text/javascript">
        $(document).ready(function() {

            $(".pop").fancybox({
              'modal' : true,
              'closeBtn'   : true,
            });
        });
</script>

<script type="text/javascript" src="http://senderosmayakoba.mx/static/js/validate.js" /></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#news').validate({
            submitHandler: function(form) {
                $.ajax("http://www.senderosmayakoba.mx/newsletter.php",{
                data:$("#news").serialize(),
                type:'post',
                cache:false,
                beforeSend: function(result){
                },
                success: function(result){
                    console.log(result);
                    $("#news").each(function(){
                        this.reset();
                    });
                    $( ".news-popup" ).trigger( "click" );
                },
                error:function(result){
                }
            })
        }});
        $('#news-menu').validate({
            submitHandler: function(form) {
                $.ajax("http://www.senderosmayakoba.mx/newsletter.php",{
                data:$("#news-menu").serialize(),
                type:'post',
                cache:false,
                beforeSend: function(result){
                },
                success: function(result){
                    console.log(result);
                    $("#response").html("Enviado.");
                    $("#news").each(function(){
                        this.reset();
                    });
                    $( ".news-popup" ).trigger( "click" );
                },
                error:function(result){
                }
            })
        }});
    });
</script>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
		 http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

{% block js %}

{% endblock  %}
<!-- Asynchronous google analytics; this is the official snippet.
	 Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
	 
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
  
</body>
</html>
