{% extends "base.html" %}
{% block tittle %}
  {{seo.ciudad_mayakoba.title}}
{% endblock %}

{% block description %}
  {{seo.ciudad_mayakoba.description}}
{% endblock %}

{% block keywords %}
  {{seo.ciudad_mayakoba.keywords}}
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 100px;"> 
  	<!--<div class="row position-relative">
		  <img class="img-responsive width-100" src="{{BASE_URL}}/images/ciudad-mayakoba/banner-ciudad-mayakoba.jpg">  
      <div class="col-sm-12 hidden-xs position-absolute-flecha text-center">
        <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
      </div>
  	</div> -->
  	<div class="container">
  		<div class="row" id="1">
  			<div class="col-sm-12 text-center padding-tb-60">
  				<h1 class="font-family-lato italic font-size-45 font-size-35-ipad color-2 margin-top-0">{{ciudad_mayakoba.title_mayakoba.text}}</h1>
  				<p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">
          {{ciudad_mayakoba.description_senderos1.text}}
            </p>
  				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
  			</div>
  		</div>
  	</div>
  	<div class="row bienvenidos-home waypoint hidden-xs" id="element-waypoint-ciudad">
  		<div class="col-sm-3  text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count">133.54 ha</p>
  			<img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-plantas-rescatadas.png">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.plantas}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.plantas2}}</p>
  		</div>
  		<div class="col-sm-3  text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count1">95</p>
  			<img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-senderos.png">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.recorridos}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.recorridos2}}</p>
  		</div>
  		<div class="col-sm-3  text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count2">25 ha</p>
  			<img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-areas-verdes.png">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.areas}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.areas2}}</p>
  		</div>
  		<div class="col-sm-3  text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count3">40 km</p>
  			<img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-paso-animales.png">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.animales}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.animales2}}</p>
  		</div>
  	</div>
    <div class="row padding-0">
      <div id="myCarousel" class="carousel slide visible-xs" data-ride="carousel">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active bienvenidos-home">
      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count">133.54 ha</p>
        <img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-plantas-rescatadas.png">
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.plantas}}</p>
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.plantas2}}</p>
      </div>
    </div>

    <div class="item bienvenidos-home">
      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count1">23.53 km</p>
        <img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-senderos.png">
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.recorridos}}</p>
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.recorridos2}}</p>
      </div>
    </div>

    <div class="item bienvenidos-home">
      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count2">5.19 ha</p>
        <img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-areas-verdes.png">
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.areas}}</p>
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.areas2}}</p>
      </div>
    </div>

    <div class="item bienvenidos-home">
      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="ciudad-mayakoba-count3">25</p>
        <img src="{{BASE_URL}}/images/ciudad-mayakoba/icono-paso-animales.png">
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{ciudad_mayakoba.iconos_numeros.animales}}</p>
        <p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{ciudad_mayakoba.iconos_numeros.animales2}}</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center padding-tb-60">
				<h1 class="font-family-lato italic font-size-45 color-2 font-size-35-ipad margin-top-0">{{ciudad_mayakoba.amenidades.title}}</h1>
				<p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{ciudad_mayakoba.amenidades.amenidades_description}}</p>
				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
			</div>
		</div>
  	</div>
  	<div class="container hidden-xs">
  		<div class="row images-icons amenidades-home">
  			<div class="col-sm-3  text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-consultorios-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.1}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="2" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-parque-metropolitano-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.2}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="3" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-villa-comercial-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.3}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="4" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-ciclovias-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.4}}</p>
        </div>
      </div>
      <div class="row images-icons amenidades-home padding-bot-60 margin-top-35">
        <div class="col-sm-3  text-center">
          <!-- <a data-id="5" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-universidades-colegios-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.5}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="6" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-areas-verdes-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.6}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="7" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-laboratorios-medicos-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.7}}</p>
        </div>
        <div class="col-sm-3  text-center">
          <!-- <a data-id="8" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-corredores-biologicos-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.8}}</p>
        </div>
      </div>
  	</div>
    <div class="row padding-0 amenidades-home">
      <div id="myCarousel2" class="carousel visible-xs slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner amenidades-home-responsive" role="listbox">
    <div class="item active">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-consultorios-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.1}}</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="2" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-parque-metropolitano-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.2}}</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="3" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-villa-comercial-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.3}}</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="4" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-ciclovias-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.4}}</p>
        </div>
    </div>
    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="5" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-universidades-colegios-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.5}}</p>
        </div>
    </div>
    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="6" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-areas-verdes-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.6}}</p>
        </div>
    </div>
    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="7" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-laboratorios-medicos-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.7}}</p>
        </div>
    </div>
    <div class="item">
      <div class="col-sm-3  text-center">
          <!-- <a data-id="8" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}/images/ciudad-mayakoba/amenidades-corredores-biologicos-cd-mayakoba.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{ciudad_mayakoba.iconos_amenidades.8}}</p>
        </div>
    </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
    </div>






    <div class="row all-icons not-show padding-bot-60 position-relative height-480">
      <div class="col-sm-6">
        <img class="img-center array-image">
      </div>
      <div class="col-sm-6 text-description text-center"> 
        <h1 id="description"></h1>
      </div>
      <a class="cerrar"><span class="flaticon-error position-absolute"></span></a>
    </div>

    <div class="row padding-galeria images-show images-content visible-xs">
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="1" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/entrada-ciudad-mayakoba.jpg"></a>
        </div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="2" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/ciclovias-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="7" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/village-andador-verde-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="8" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/yoga-ciudad-mayakoba.jpg"></a></div>
     
    </div>


  	<div class="row padding-galeria images-show images-content hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="1" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/entrada-ciudad-mayakoba.jpg"></a>
        </div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="2" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/ciclovias-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="3" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/entrada-ciudad-mayakoba(2).jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="4" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/ciclovias-ciudad-mayakoba(2).jpg"></a></div>
    </div>
    <div class="row padding-galeria images-show images-content hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="5" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/centro-comercial-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="6" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/palapa-principal-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="7" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/village-andador-verde-ciudad-mayakoba.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a href="#." class="point" data-id="8" ><img src="{{BASE_URL}}/images/ciudad-mayakoba/yoga-ciudad-mayakoba.jpg"></a></div>
    </div>
    <div class="row images-show not-show images-content-show">
      <div class="col-sm-12 padding-0">
        <img class="img-center width-100 array-image img-responsive" src="">
        <a class="cerrar2"><span class="button-masterplan flaticon-error position-absolute"></span></a>
      </div>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock  %}