{% extends "base.html" %}
{% block tittle %}
  {{seo.contacto.title}}
{% endblock %}

{% block description %}
  {{seo.contacto.description}}
{% endblock %}

{% block keywords %}
  {{seo.contacto.keywords}}
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row position-relative">
	  <img class="img-responsive width-100" src="{{BASE_URL}}/images/contacto/banner-contacto-senderos-ciudad-mayakoba.jpg">
    <div class="hidden-xs col-sm-12 position-absolute-flecha text-center">
      <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
    </div>  
	</div>
	<div class="container">
		<div class="row" id="1">
			<div class="col-sm-12 text-center padding-tb-60">
				<h1 class="font-family-lato italic font-size-45 color-2 font-size-35-ipad">{{contacto.contacto.title}}</h1>
				<p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{contacto.contacto.description}}</p>
				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
			</div>
		</div>
  	</div>
  	<div class="container">
  		<div class="row padding-bot-60">
  			<div class="col-sm-3  text-center">
  				<img class="img-responsive width-70 img-center" src="{{BASE_URL}}/images/contacto/icono-telefono.png">
  				<p class="font-size-20 color-4 margin-top-15">{{contacto.iconos_contacto.title1}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto.1}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto.2}}</p>
                <br>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto.3}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto.4}}</p>
  			</div>
  			<div class="col-sm-3  text-center margin-top-30-ipad">
  				<a href="https://www.google.com.mx/maps/@20.6842797,-87.0403811,17z" target="_blank"><img class="img-responsive width-70 img-center" src="{{BASE_URL}}/images/contacto/icono-direccion.png"></a>
  				<p class="font-size-20 color-4 margin-top-15">{{contacto.iconos_contacto2.title2}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto2.1}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto2.2}}</p>
                <p class="font-size-20 color-5 margin-0">{{contacto.iconos_contacto2.3}}</p>
  			</div>
  			<div class="col-sm-3  text-center margin-top-30-ipad">
  				<a href="#form"><img class="img-responsive width-70 img-center" src="{{BASE_URL}}/images/contacto/icono-correo-electronico.png"></a>
  				<p class="font-size-20 color-4 margin-top-15">{{contacto.iconos_contacto3.title3}}</p>
                <p class="font-size-20 color-5">{{contacto.iconos_contacto3.1}}</p>
                <!-- <p class="font-size-20 color-5">ventas@senderosmayakoba.mx</p> -->
  			</div>
            <a href="#.">
                <div class="col-sm-3  text-center margin-top-30-ipad hidden-xs">
                    <img id="botonredes" class="img-responsive width-70 img-center" src="{{BASE_URL}}/images/contacto/icono-redes-sociales.png">
                    <p class="font-size-20 color-4 margin-top-15">{{contacto.iconos_contacto4.title4}}</p>
                    <div class="redessociales not-show text-center">
                        <a href="https://www.facebook.com/senderosmayakoba/" target="_blank"><span class="color-2 flaticon-facebook-app-logo" style="margin-left: 0px"></span ></a>
                        <a href="https://twitter.com/SenderosMk" target="_blank"><span class="color-2 flaticon-twitter-logo-silhouette"></span></a>
                        <a href="https://www.instagram.com/senderosmayakoba/" target="_blank"><span class="color-2 flaticon-instagram-logo"></span></a>
                        <a href="https://es.pinterest.com/senderosmk/" target="_blank"><span class="color-2 flaticon-pinterest-logotype-circle"></span></a>
                    </div>
                </div>
                <div class="col-sm-3  text-center margin-top-30-ipad visible-xs">
                    <img id="botonredes" class="img-responsive width-70 img-center" src="{{BASE_URL}}/images/contacto/icono-redes-sociales.png">
                    <p class="font-size-20 color-4 margin-top-15">{{contacto.iconos_contacto4.title4}}</p>
                    <div class="text-center">
                      <a href="https://www.facebook.com/senderosmayakoba/" target="_blank"><span class="color-2 flaticon-facebook-app-logo" style="margin-left: 0px"></span ></a>
                      <a href="https://twitter.com/SenderosMk" target="_blank"><span class="color-2 flaticon-twitter-logo-silhouette"></span></a>
                      <a href="https://www.instagram.com/senderosmayakoba/" target="_blank"><span class="color-2 flaticon-instagram-logo"></span></a>
                      <a href="https://es.pinterest.com/senderosmk/" target="_blank"><span class="color-2 flaticon-pinterest-logotype-circle"></span></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-tb-40 background-madera" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <form id="form" method="post">
            <div class="col-sm-6  text-center form-group">
                <input type="text" required class="form-input padding-left-35" name="nombre" 
            placeholder="{{contacto.formulario.1}}" required>
            </div>
            <div class="col-sm-6  text-center form-group">
                <input type="text" required="" class="form-input padding-left-35" name="apellido" placeholder="{{contacto.formulario.3}}" required>
            </div>

            <div class="col-sm-6  text-center form-group">
                <input type="text" required class="form-input padding-left-35" name="telefono" placeholder="{{contacto.formulario.4}}" required>
            </div>
            <div class="col-sm-6  text-center form-group">
                <input type="text" required class="form-input padding-left-35" name="email" placeholder="{{contacto.formulario.2}}" required>
            </div>

            <div class="col-sm-6  text-center form-group">
                <select class="form-input required color-rgba select padding-left-35 font-family-lato font-size-15 color-5 bold" name="asunto">
                    <option class="color-rgba bold" disabled="" selected="">{{contacto.formulario.select1}}</option>
                    <option>{{contacto.formulario.select2}}</option>
                    <option>{{contacto.formulario.select3}}</option>
                </select>

            </div>
            <div class="col-sm-6  text-center form-group">
                <select class="form-input color-rgba select padding-left-35 font-family-lato font-size-15 color-5 bold" required name="motivo">
                    <option class="color-rgba bold" disabled="" selected="">{{contacto.formulario.select4}}</option>
                    <option>{{contacto.formulario.select5}}</option>
                    <option>{{contacto.formulario.select6}}</option>
                </select>
            </div>
            <div class="col-sm-12 text-center ">
                <textarea class="form-text-area padding-left-35 padding-top-20" required="" rows="6" name="comentarios" placeholder="{{contacto.formulario.7}}"></textarea>
                <button type="submit" class="margin-top-35 enviar-button font-size-24 button-hover3">{{contacto.formulario.8}}</button>
            </div>
            <div class="col-sm-12 text-center message-sucess" style="padding: 10px; display: none;">
                <p class="alert alert-success" style="width: 14%; margin: 0 auto;">
                    SU MENSAJE HA SIDO ENVIADO
                </p>
            </div>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Google Code for Enviar Mensaje Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
 /* <![CDATA[ */
 goog_snippet_vars = function() {
   var w = window;
   w.google_conversion_id = 937629747;
   w.google_conversion_label = "ZuYKCNK262sQs7CMvwM";
   w.google_remarketing_only = false;
 }
 // DO NOT CHANGE THE CODE BELOW.
 goog_report_conversion = function(url) {
   goog_snippet_vars();
   window.google_conversion_format = "3";
   var opt = new Object();
   opt.onload_callback = function() {
   if (typeof(url) != 'undefined') {
     window.location = url;
   }
 }
 var conv_handler = window['google_trackConversion'];
 if (typeof(conv_handler) == 'function') {
   conv_handler(opt);
 }
}
/* ]]> */
</script>
<script type="text/javascript"
 src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
<script type="text/javascript">
  $('#botonredes').click(function (){
    $('.redessociales').toggleClass('show');
    
    });
</script>

<!-- <script type="text/javascript" src="http://senderosmayakoba.mx/senderos-mayakoba/static/js/validate.js"></script> -->
<script type="text/javascript" src="http://senderosmayakoba.mx/static/js/validate.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#form').validate({
            submitHandler: function(form) {
                $('.enviar-button').attr('disabled','disabled');
                $.ajax("http://www.senderosmayakoba.mx/mailing.php",{
                data:$("#form").serialize(),
                type:'post',
                cache:false,
                beforeSend: function(result){
                    $("#response").html("Espere...");
                    $('.enviar-button').attr("disabled", true);
                },

                success: function(result){
                    console.log(result);
                    $("#form").each(function(){
                        this.reset();
                    });

                    $(".message-sucess").fadeIn();


                    $(".message-sucess").promise().done(function()
                    {

                        ga('send', 'event', 'Contacto', 'Clic', 'Enviar Mensaje');
                        goog_report_conversion ('http://www.senderosmayakoba.mx/');
                        // fbq('track','Lead');
                        
                    });
                    

                    
                    
                },
                error:function(result){
                }
            })
        }});
    });
</script>
{% endblock  %}