{% extends "base.html" %}
{% block tittle %}
  {{seo.galeria.title}}
{% endblock %}

{% block description %}
  {{seo.galeria.description}}
{% endblock %}

{% block keywords %}
  {{seo.galeria.keywords}}
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 100px">
  	<!--<div class="row position-relative">
		  <img class="img-responsive width-100" src="{{BASE_URL}}/images/galeria/banner-galeria-parque-niños.jpg">
      <div class="col-sm-12 hidden-xs position-absolute-flecha text-center">
        <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
      </div>  
  	</div>-->
  	<div class="container">
  		<div class="row" id="1">
  			<div class="col-sm-12 text-center padding-tb-60">
  				<h1 class="font-family-lato italic font-size-45 color-2 margin-top-0">{{galeria.galeria.title}}</h1>
  				<p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{galeria.galeria.description}}</p>
  				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
  			</div>
  		</div>
  	</div>

    <style type="text/css">
      .padding-galeria{
        padding-bottom: 10px;
      }

      .padding-galeria .image{
        padding: 0px 10px;
        display: block;

      }

      .padding-galeria img{width: 100%;}

    </style>

    <div class="row padding-galeria visible-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/1-1300x610.png" title="{{galeria.galeria.imagen1}}">

            <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/1-325x327.png">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/2-1300x610.png" title="{{galeria.galeria.imagen2}}">
            <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/2-325x327.png"></a>
          </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/3-1300x610.png" title="{{galeria.galeria.imagen3}}"><img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/3-325x327.png"></a></div>
      <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/4-1300x610.png" title="{{galeria.galeria.imagen4}}">
          <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/4-325x327.png">
        </a>
      </div>
      <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/5-1300x610.jpg" title="{{galeria.galeria.imagen7}}">
        <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/5-325x327.jpg">
      </a>
    </div>
    <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/6-1300x610.jpg" title="{{galeria.galeria.imagen8}}">
            <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/6-325x327.jpg">
          </a>
      </div>
       <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/7-1300x610.jpg" title="{{galeria.galeria.imagen12}}">
        <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/7-325x327.jpg"></a></div>
    </div>








    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/1-1300x610.png" title="{{galeria.galeria.imagen1}}">

            <img src="{{BASE_URL}}/images/galeria/1-325x327.png">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/2-1300x610.png" title="{{galeria.galeria.imagen2}}"><img src="{{BASE_URL}}/images/galeria/2-325x327.png"></a></div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/3-1300x610.png" title="{{galeria.galeria.imagen3}}"><img src="{{BASE_URL}}/images/galeria/3-325x327.png"></a></div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/4-1300x610.png" title="{{galeria.galeria.imagen4}}">
          <img src="{{BASE_URL}}/images/galeria/4-325x327.png">
        </a>
      </div>
      
        <div class="col-sm-3 col-xs-6 hidden-xs">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/5-1300x610.jpg" title="{{galeria.galeria.imagen5}}">
        <img src="{{BASE_URL}}/images/galeria/5-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6 hidden-xs">

        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/6-1300x610.jpg" title="{{galeria.galeria.imagen6}}">
        <img src="{{BASE_URL}}/images/galeria/6-325x327.jpg"></a>
      </div>
      
      <div class="col-sm-3 col-xs-6 hidden-xs">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/7-1300x610.jpg" title="{{galeria.galeria.imagen7}}">
        <img src="{{BASE_URL}}/images/galeria/7-325x327.jpg">
      </a>
    </div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/8-1300x610.jpg" title="{{galeria.galeria.imagen8}}">
            <img src="{{BASE_URL}}/images/galeria/8-325x327.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/9-1300x610.jpg" title="{{galeria.galeria.imagen9}}"><img src="{{BASE_URL}}/images/galeria/9-325x327.jpg"></a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/10-1300x610.jpg" title="{{galeria.galeria.imagen10}}"><img src="{{BASE_URL}}/images/galeria/10-325x327.jpg"></a>
      </div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/11-1300x610.jpg" title="{{galeria.galeria.imagen11}}">
          <img src="{{BASE_URL}}/images/galeria/11-325x327.jpg">
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/12-1300x610.jpg" title="{{galeria.galeria.imagen12}}">
        <img src="{{BASE_URL}}/images/galeria/12-325x327.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/13-1300x610.jpg" title="{{galeria.galeria.imagen13}}">
        <img src="{{BASE_URL}}/images/galeria/13-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/14-1300x610.jpg" title="{{galeria.galeria.imagen14}}">
        <img src="{{BASE_URL}}/images/galeria/14-325x327.jpg"></a>
      </div>
  </div>

  <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/24-1300x610.jpg" title="{{galeria.galeria.imagen24}}">
            <img src="{{BASE_URL}}/images/galeria/24-325x327.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/25-1300x610.jpg" title="{{galeria.galeria.imagen25}}"><img src="{{BASE_URL}}/images/galeria/25-325x327.jpg"></a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/26-1300x610.jpg" title="{{galeria.galeria.imagen26}}"><img src="{{BASE_URL}}/images/galeria/26-325x327.jpg"></a>
      </div>
    </div>

    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/27-1300x610.jpg" title="{{galeria.galeria.imagen27}}">
          <img src="{{BASE_URL}}/images/galeria/27-325x327.jpg">
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/28-1300x610.jpg" title="{{galeria.galeria.imagen28}}">
        <img src="{{BASE_URL}}/images/galeria/28-325x327.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/29-1300x610.jpg" title="{{galeria.galeria.imagen29}}">
        <img src="{{BASE_URL}}/images/galeria/29-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/30-1300x610.jpg" title="{{galeria.galeria.imagen30}}">
        <img src="{{BASE_URL}}/images/galeria/30-325x327.jpg"></a>
      </div>
  </div>

  <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/32-1300x610.jpg" title="{{galeria.galeria.imagen31}}">
            <img src="{{BASE_URL}}/images/galeria/31-325x327.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/33-1300x610.jpg" title="{{galeria.galeria.imagen32}}"><img src="{{BASE_URL}}/images/galeria/33-325x327.jpg"></a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/34-1300x610.jpg" title="{{galeria.galeria.imagen33}}"><img src="{{BASE_URL}}/images/galeria/34-325x327.jpg"></a>
      </div>
    </div>

    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/35-1300x610.jpg" title="{{galeria.galeria.imagen34}}">
          <img src="{{BASE_URL}}/images/galeria/35-325x327.jpg">
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/36-1300x610.jpg" title="{{galeria.galeria.imagen35}}">
        <img src="{{BASE_URL}}/images/galeria/36-325x327.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/37-1300x610.jpg" title="{{galeria.galeria.imagen36}}">
        <img src="{{BASE_URL}}/images/galeria/37-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/38-1300x610.jpg" title="{{galeria.galeria.imagen37}}">
        <img src="{{BASE_URL}}/images/galeria/38-325x327.jpg"></a>
      </div>
  </div>


  <div class="row">
      <div class="col-sm-12 padding-tb-40 background-madera" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <form id="form" method="post">
          <div class="col-sm-6  text-center form-group">
            <input type="text" required class="form-input padding-left-35" name="nombre" 
            placeholder="{{contacto.formulario.1}}" required>
          </div>
          <div class="col-sm-6  text-center form-group">
            <input type="text" required="" class="form-input padding-left-35" name="apellido" placeholder="{{contacto.formulario.3}}" required>
          </div>

          <div class="col-sm-6  text-center form-group">
            <input type="text" required class="form-input padding-left-35" name="telefono" placeholder="{{contacto.formulario.4}}" required>
          </div>
          <div class="col-sm-6  text-center form-group">
            <input type="text" required class="form-input padding-left-35" name="email" placeholder="{{contacto.formulario.2}}" required>
          </div>

          <div class="col-sm-6  text-center form-group">
            <select class="form-input required color-rgba select padding-left-35 font-family-lato font-size-15 color-5 bold" name="asunto">
              <option class="color-rgba bold" disabled="" selected="">{{contacto.formulario.select1}}</option>
              <option>{{contacto.formulario.select2}}</option>
              <option>{{contacto.formulario.select3}}</option>
            </select>

          </div>
          <div class="col-sm-6  text-center form-group">
            <select class="form-input color-rgba select padding-left-35 font-family-lato font-size-15 color-5 bold" required name="motivo">
                      <option class="color-rgba bold" disabled="" selected="">{{contacto.formulario.select4}}</option>
                      <option>{{contacto.formulario.select5}}</option>
                      <option>{{contacto.formulario.select6}}</option>
                    
            </select>
          </div>

          <div class="col-sm-12 text-center ">

            <textarea class="form-text-area padding-left-35 padding-top-20" required="" rows="6" name="comentarios" placeholder="{{contacto.formulario.7}}"></textarea>

            <button type="submit" class="margin-top-35 enviar-button font-size-24 button-hover3">{{contacto.formulario.8}}</button>
          </div>
        </form>
      </div>
    </div>


</div>
<script type="text/javascript" src="http://senderosmayakoba.mx/senderos-mayakoba/static/js/validate.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#form').validate({
            submitHandler: function(form) {
                $('.enviar-button').attr('disabled','disabled');
                $.ajax("http://www.senderosmayakoba.mx/mailing.php",{
                data:$("#form").serialize(),
                type:'post',
                cache:false,
                beforeSend: function(result){
                    $("#response").html("Espere...");
                    $('.enviar-button').attr("disabled", true);
                },

                success: function(result){
                    console.log(result);
                    $("#form").each(function(){
                        this.reset();
                    });
                    goog_report_conversion ('http://www.senderosmayakoba.mx/');
                    ga('send', 'event', 'Contacto', 'Clic', 'Enviar Mensaje');
                    fbq('track','Lead');
                    $("#response").html("Mensaje Enviado.");
                    
                },
                error:function(result){
                }
            })
        }});
    });
</script>
{% endblock %}

{% block js %}

{% endblock  %}