{% extends "base.html" %}
{% block tittle %}
  {{seo.galeria.title}}
{% endblock %}

{% block description %}
  {{seo.galeria.description}}
{% endblock %}

{% block keywords %}
  {{seo.galeria.keywords}}
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 100px">
  	<!--<div class="row position-relative">
		  <img class="img-responsive width-100" src="{{BASE_URL}}/images/galeria/banner-galeria-parque-niños.jpg">
      <div class="col-sm-12 hidden-xs position-absolute-flecha text-center">
        <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
      </div>  
  	</div>-->
  	<div class="container">
  		<div class="row" id="1">
  			<div class="col-sm-12 text-center padding-tb-60">
  				<h1 class="font-family-lato italic font-size-45 color-2 margin-top-0">{{galeria.galeria.title}}</h1>
  				<p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{galeria.galeria.description}}</p>
  				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
  			</div>
  		</div>
  	</div>


    <div class="row padding-galeria visible-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/1-acceso-senderos-mayakoba.jpg" title="{{galeria.galeria.imagen1}}">

            <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/1-acceso-senderos-mayakoba.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/2-acceso-sendero-norte.jpg" title="{{galeria.galeria.imagen2}}"><img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/2-acceso-sendero-norte.jpg"></a></div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/3-casa-club-senderos-cd-mayakoba.jpg" title="{{galeria.galeria.imagen3}}"><img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/3-casa-club-senderos-cd-mayakoba.jpg"></a></div>
      <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/4-parque-sendero-gran-cenote.jpg" title="{{galeria.galeria.imagen4}}">
          <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/4-parque-sendero-gran-cenote.jpg">
        </a>
      </div>
      <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/14-parque-de-los-niños.jpg" title="{{galeria.galeria.imagen7}}">
        <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/14-parque-de-los-niños.jpg">
      </a>
    </div>
    <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/8-parque-de-los-niños.jpg" title="{{galeria.galeria.imagen8}}">
            <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/8-parque-de-los-niños.jpg">
          </a>
      </div>
       <div class="col-sm-4">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/5-parque-senderos.jpg" title="{{galeria.galeria.imagen12}}">
        <img class="margin-bottom-20-ipad" src="{{BASE_URL}}/images/galeria/5-parque-senderos.jpg"></a></div>
    </div>








    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/1-acceso-senderos-mayakoba.jpg" title="{{galeria.galeria.imagen1}}">

            <img src="{{BASE_URL}}/images/galeria/1-acceso-senderos-mayakoba.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/2-acceso-sendero-norte.jpg" title="{{galeria.galeria.imagen2}}"><img src="{{BASE_URL}}/images/galeria/2-acceso-sendero-norte.jpg"></a></div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/3-casa-club-senderos-cd-mayakoba.jpg" title="{{galeria.galeria.imagen3}}"><img src="{{BASE_URL}}/images/galeria/3-casa-club-senderos-cd-mayakoba.jpg"></a></div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/4-parque-sendero-gran-cenote.jpg" title="{{galeria.galeria.imagen4}}">
          <img src="{{BASE_URL}}/images/galeria/4-parque-sendero-gran-cenote.jpg">
        </a>
      </div>
      
        <div class="col-sm-3 col-xs-6 hidden-xs">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/12-paramento.jpg" title="{{galeria.galeria.imagen5}}">
        <img src="{{BASE_URL}}/images/galeria/12-paramento.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6 hidden-xs">

        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/6-parque-sendero-cenote-magico.jpg" title="{{galeria.galeria.imagen6}}">
        <img src="{{BASE_URL}}/images/galeria/6-parque-sendero-cenote-magico.jpg"></a>
      </div>
      
      <div class="col-sm-3 col-xs-6 hidden-xs">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/14-parque-de-los-niños.jpg" title="{{galeria.galeria.imagen7}}">
        <img src="{{BASE_URL}}/images/galeria/14-parque-de-los-niños.jpg">
      </a>
    </div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/8-parque-de-los-niños.jpg" title="{{galeria.galeria.imagen8}}">
            <img src="{{BASE_URL}}/images/galeria/8-parque-de-los-niños.jpg">
          </a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/9-acceso-boulevard-mexico.jpg" title="{{galeria.galeria.imagen9}}"><img src="{{BASE_URL}}/images/galeria/9-acceso-boulevard-mexico.jpg"></a>
      </div>
      <div class="col-sm-4">
          <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/10-acceso-senderos-mayakoba.jpg" title="{{galeria.galeria.imagen10}}"><img src="{{BASE_URL}}/images/galeria/10-acceso-senderos-mayakoba.jpg"></a>
      </div>
    </div>


    <div class="row padding-galeria hidden-xs">
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/11-gran-cenote.jpg" title="{{galeria.galeria.imagen11}}">
          <img src="{{BASE_URL}}/images/galeria/11-gran-cenote.jpg">
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/5-parque-senderos.jpg" title="{{galeria.galeria.imagen12}}">
        <img src="{{BASE_URL}}/images/galeria/5-parque-senderos.jpg"></a></div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/13-acceso-sendero-norte-noche.jpg" title="{{galeria.galeria.imagen13}}">
        <img src="{{BASE_URL}}/images/galeria/13-acceso-sendero-norte-noche.jpg"></a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/galeria/full-photos/7-acceso-parque-senderos.jpg" title="{{galeria.galeria.imagen14}}">
        <img src="{{BASE_URL}}/images/galeria/7-acceso-parque-senderos.jpg"></a>
      </div>
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock  %}