{% extends "base.html" %}
{% block css %}

{% endblock %}


{% block tittle %}
  {{seo.home.title}}
{% endblock %}

{% block description %}
  {{seo.home.description}}
{% endblock %}

{% block keywords %}
  {{seo.home.keywords}}
{% endblock %}


{% block content %}
<div class="container-fluid">
  	<div class="row"> 
      <!--<video id="video" width="100%" autoplay loop >
          <source src="{{BASE_URL}}images/senderosweb.mp4" type='video/mp4; codecs="avc1,mp4a"'></source>
          <source src="{{BASE_URL}}images/senderoswebogv.ogv" type='video/ogg; codecs="theora,vorbis"'></source>
          <source src="{{BASE_URL}}images/senderoswebwebm.webm" type='video/webm; codecs="vp8,vorbis"'></source>
          This browser does not support HTML5
      </video>-->
      <div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="8000">
          <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img class="img-responsive" style="width: 100%" src="{{BASE_URL}}images/molkajete/banners-senderos-mayakoba-1.jpg">
            </div>

            <div class="item">
                <img class="img-responsive" style="width: 100%" src="{{BASE_URL}}images/molkajete/banners-senderos-mayakoba-2.jpg">
              
            </div>

            <div class="item">
                <img class="img-responsive" style="width: 100%" src="{{BASE_URL}}images/molkajete/banners-senderos-mayakoba-3.jpg">
              
            </div>

            <div class="item">
                <img class="img-responsive" style="width: 100%" src="{{BASE_URL}}images/molkajete/banners-senderos-mayakoba-4.jpg">
              
            </div>
            <div class="item">
                <img class="img-responsive" style="width: 100%" src="{{BASE_URL}}images/molkajete/banners-senderos-mayakoba-5.jpg">
              
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>      
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-12 text-center padding-tb-60">
          <h2 class="font-family-lato italic font-size-45 font-size-35-ipad color-2 margin-top-0">{{home.title_senderos.text}}</h2>
  				<h2 class="font-family-lato italic font-size-45 font-size-35-ipad color-2 margin-top-0">{{home.lotes_res.text}}</h2>
  				<p class="font-family-lato font-size-30 color-3 margin-top-35 ">{{home.description_senderos1.text}}</p>
  				<p class="font-family-lato font-size-30 color-3">{{home.description_senderos2.text}}{{seo_ingles.inicio.titulo}}</p>
  			</div>
  		</div>
  	</div>
  	<div class="row bienvenidos-home waypoint" id="element-waypoint">
  		<div class="col-sm-3 text-center hidden-xs padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count">20,000</p>
  			<img src="{{BASE_URL}}/images/home/icono-plantas-rescatadas.png" alt="Senderos Mayakoba">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.plantas}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.plantas2}}</p>
  		</div>
  		<div class="col-sm-3 text-center hidden-xs padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count1">5km</p>
  			<img src="{{BASE_URL}}/images/home/icono-senderos.png" alt="Senderos Mayakoba">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.recorridos}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.recorridos2}}</p>
  		</div>
  		<div class="col-sm-3 text-center hidden-xs padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count2">130,000m&sup2;</p>
  			<img src="{{BASE_URL}}/images/home/icono-areas-verdes.png" alt="Senderos Mayakoba">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.areas}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.areas2}}</p>
  		</div>
  		<div class="col-sm-3 text-center hidden-xs padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count3">20</p>
  			<img src="{{BASE_URL}}/images/home/icono-paso-animales.png" alt="Senderos Mayakoba">
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.animales}}</p>
  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.animales2}}</p>
  		</div>
  	</div>

  	<div class="row visible-xs padding-0">	  		
		<div id="myCarousel" class="carousel slide bienvenidos-home" data-ride="carousel">
		  <div class="carousel-inner bienvenidos-home" role="listbox">
		    <div class="item active bienvenidos-home waypoint">
		      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  					<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count">20,000</p>
  					<img src="{{BASE_URL}}/images/home/icono-plantas-rescatadas.png" alt="Senderos Mayakoba">
  					<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.plantas}}</p>
  					<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.plantas2}}</p>
				  </div>
		    </div>

		    <div class="item bienvenidos-home waypoint">
				  <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
		  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count1">5km</p>
		  			<img src="{{BASE_URL}}/images/home/icono-senderos.png" alt="Senderos Mayakoba">
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.recorridos}}</p>
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.recorridos2}}</p>
		  		</div>
		    </div>

		    <div class="item bienvenidos-home waypoint">
		      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
		  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count2">130,000m&sup2;</p>
		  			<img src="{{BASE_URL}}/images/home/icono-areas-verdes.png" alt="Senderos Mayakoba">
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.areas}}</p>
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.areas2}}</p>
		  		</div>
		    </div>

		    <div class="item bienvenidos-home waypoint">
		      <div class="col-sm-3 text-center padding-tb-20" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
		  			<p class="jumbo font-family-lato italic font-size-55 font-size-30-ipad color-1" id="home-count3">20</p>
		  			<img src="{{BASE_URL}}/images/home/icono-paso-animales.png" alt="Senderos Mayakoba">
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1 margin-top-10">{{home.iconos_numeros.animales}}</p>
		  			<p class="font-family-lato margin-0 font-size-24 font-size-12-ipad color-1">{{home.iconos_numeros.animales2}}</p>
		  		</div>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
  	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center padding-tb-60">
				<h1 class="font-family-lato italic font-size-45 font-size-35-ipad color-2 margin-top-0">{{home.amenidades.title}}</h1>
				<p class="font-family-lato font-size-30 margin-0 color-3 hidden-xs">{{home.amenidades.amenidades_description}}</p>
        <p class="font-family-lato font-size-30 margin-0 color-3 visible-xs margin-top-35">{{home.amenidades.amenidades_description1}}</p>
        <br class="visible-xs">
        <p class="font-family-lato font-size-30 margin-0 color-3 visible-xs"><strong>{{home.amenidades.amenidades_description2}}</strong></p>
      
				<!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
			</div>
		</div>
  	</div>
  	<div class="container hidden-xs">
  		<div class="row amenidades-home amenidades-home-responsive">
  			<div class="col-sm-3 single text-center">
  				<a href="#." data-id="1"><img class="img-responsive"  src="{{BASE_URL}}/images/home/amenidades-senderos.png"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.1}}</p>
  			</div>
  			<div class="col-sm-3  single text-center">
		        <a href="#." data-id="2">
		  			<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-cenotes.png" alt="Senderos Mayakoba"></a>
		  			<p class="font-size-20 color-4">{{home.iconos_amenidades.2}}</p>
		         </a>
  			</div>
  			<div class="col-sm-3 single text-center">
        		<a href="#." data-id="3">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-parque.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.3}}</p>
  			</div>
  			<div class="col-sm-3 single text-center">
        <a href="#." data-id="4">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-casa-club.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.4}}</p>
  			</div>
      </div>
      <div class="row amenidades-home amenidades-home-responsive padding-bot-60 margin-top-35">
  			<div class="col-sm-3 single text-center">
        <a href="#." data-id="5">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-ciclopistas.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.5}}</p>
  			</div>
  			<div class="col-sm-3 single text-center">
        <a href="#." data-id="6">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-membresia.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.6}}</p>
  			</div>
  			<div class="col-sm-3 single text-center">
        <a href="#." data-id="7">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-naturaleza.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.7}}</p>
  			</div>
  			<div class="col-sm-3 single text-center">
        <a href="#." data-id="8">
  				<img class="img-responsive" src="{{BASE_URL}}images/home/amenidades-ciudad-mayakoba.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.8}}</p>
  			</div>
  		</div>
  	</div>



    <div class="row all not-show vertical-padre margin-bottom-75">
      <div class="col-sm-5 padding-0 col-sm-offset-1">
        <img style="max-height: 545px" class="img-responsive array-image width-100">
      </div>
      <div class="col-sm-5 padding-0 global text-description margin-top-30-ipad text-center display-block font-family-lato margin-0-responsive height-364-ipad" style="height: 545px;border:none;"> 
        <div class=" position-relative mensajes font-size-25 text-justify" style="padding: 0px 10%;background-color:#efefef;display:table;height:100%;" >
          <div class="texto" style="padding: 15% 0%;background-color:#efefef;display:table-cell;vertical-align:middle;">
          	<p id="title" class="bold text-center font-family-lato italic font-size-45 font-size-35-ipad color-2" style="font-size:24px;"></p>
          	<p id="description" class="font-family-lato font-size-30 margin-0 color-3" style="font-size:18px;"></p>
          </div>
          <a class="cerrar" style="color: #49B2A4!important"><span class="flaticon-error position-absolute"></span></a>
        </div>
      </div>
    </div>

			

    <div class="row padding-0 amenidades-home amenidades-home-responsive">
    <div id="myCarousel2" class="carousel slide visible-xs padding-0 margin-bottom-75" data-ride="carousel">
	  <!-- Indicators -->
	  <!-- <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>
	    <li data-target="#myCarousel" data-slide-to="5"></li>
	    <li data-target="#myCarousel" data-slide-to="6"></li>
	    <li data-target="#myCarousel" data-slide-to="7"></li>
	  </ol> -->
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner padding-0" role="listbox">
	    <div class="item active">
	      	<div class="col-sm-3 single text-center">
				<a href="#." data-id="1"><img class="img-responsive img-center"  src="{{BASE_URL}}/images/home/amenidades-senderos.png" alt="Senderos Mayakoba"></a>
				<p class="font-size-20 color-4">{{home.iconos_amenidades.1}}</p>
			</div>
	    </div>

	    <div class="item">
	      	<div class="col-sm-3 single text-center">
		        <a href="#." data-id="2">
		  			<img class="img-responsive img-center" src="{{BASE_URL}}/images/home/amenidades-cenotes.png" alt="Senderos Mayakoba"></a>
		  			<p class="font-size-20 color-4">{{home.iconos_amenidades.2}}</p>
		         </a>
  			</div>
	    </div>

	    <div class="item">
	      	<div class="col-sm-3 single text-center">
        		<a href="#." data-id="3">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-parque.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.3}}</p>
  			</div>
	    </div>

	    <div class="item">
	      	<div class="col-sm-3 single text-center">
        		<a href="#." data-id="4">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-casa-club.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.4}}</p>
  			</div>
	    </div>
	    <div class="item">
	      	<div class="col-sm-3 single text-center">
        		<a href="#." data-id="5">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-ciclopistas.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.5}}</p>
  			</div>
	    </div>
	    <div class="item">
	      	<div class="col-sm-3 single text-center">
        		<a href="#." data-id="6">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-membresia.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.6}}</p>
  			</div>
	    </div>
	    <div class="item">
	    	<div class="col-sm-3 single text-center">
        		<a href="#." data-id="7">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-naturaleza.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.7}}</p>
  			</div>
	    </div>
	    <div class="item">
	    	<div class="col-sm-3 single text-center">
        	<a href="#." data-id="8">
  				<img class="img-responsive" src="{{BASE_URL}}/images/home/amenidades-ciudad-mayakoba.png" alt="Senderos Mayakoba"></a>
  				<p class="font-size-20 color-4">{{home.iconos_amenidades.8}}</p>
  			</div>
	    </div>

	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
    </div>
    
    <div class="row padding-bot-60">
        <div class="col-sm-12 text-center margin-bottom-75">
          <h2 class="font-family-lato italic font-size-45 font-size-35-ipad color-2 margin-top-0">{{home.title_disponibilidad.text}}</h2>
          <p class="font-family-lato font-size-30 color-3 margin-0 margin-top-35">{{home.title_disponibilidad.description1}}</p>
          <p class="font-family-lato font-size-30 color-3 margin-0">{{home.title_disponibilidad.description2}}</p>
        </div>
        <div class="col-sm-6 text-center">
          <img class="width-70 img-responsive img-center" src="{{BASE_URL}}/images/home/logotipo-senderos-mayakoba.png" alt="Senderos Mayakoba">
          <div class="margin-top-70 margin-tb-40-responsive">
            <a href="{{BASE_URL}}index.php/senderos-mayakoba#disponibilidad"><button class="disponibilidad-button font-size-20 button-hover2">{{home.master_plan.button}}</button></a>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <img class="width-70 img-responsive img-center" src="{{BASE_URL}}/images/home/logotipo-senderos-norte.png" alt="Senderos Mayakoba">
          <div class="margin-top-70 margin-tb-40-responsive">
            <a href="{{BASE_URL}}index.php/senderos-norte#disponibilidad"><button class="disponibilidad-button font-size-20 button-hover2">{{home.master_plan.button}}</button></a>
          </div>
        </div>
    </div>
    <!-- MASTER PLAN -->
    <div>
  	  <div class="row div-master-plan vertical-padre display-block">
  		<div class="col-sm-6 padding-tb-40-responsive col-xs-12 text-center color-1  vertical-padre background-madera" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
  			<div class="vertical-hijo">
	          <h2 class="font-family-lato font-size-45 font-size-35-ipad italic margin-top-0 " onclick="activamap()">{{home.master_plan.title}}</h2>
	          <!-- {{plan.1.url}} -->
	          <p class="padding-tb-60 font-family-lato font-size-25">{{home.master_plan.description}}</p>
	          <a><button class="explorar-button font-size-20 button-hover3-master">{{home.master_plan.button}}</button></a>   
	        </div>
  		</div>
  		<div class="col-sm-6 col-xs-12 padding-0 hidden-xs">
  			<img class="width-100 img-responsive" src="{{BASE_URL}}/images/home/img-master-plan-senderos-ciudad-mayakoba.jpg" alt="Senderos Mayakoba">
  		</div>
	  </div>
    </div>
    <!-- MAPA CON LOTES -->
    <div class="row not-show-lotes div-master-plan-lotes hidden-xs">
        <div>
          <img class="img-responsive width-100"  src="{{BASE_URL}}images/home/master-plan-senderos-norte.jpg" alt="Senderos Mayakoba"  border="0" usemap="#master"> 
          <map name="master" id="master">
            <a class="fancybox image" alt="1" title="" href="{{BASE_URL}}images/home/master-plan/1-Acceso-Principal-Senderos-Mayakoba.jpg"><area shape="poly" coords="319,393,333,388,339,379,334,360,320,354,306,357,297,371,301,385" /></a>

            <area class="fancybox image" alt="2" title="" href="{{BASE_URL}}/images/home/master-plan/2-Acceso-Principal-Senderos-Norte.jpg" shape="poly" coords="414,410,433,406,435,384,422,377,395,383,401,409" />

            <area class="fancybox image" alt="3" title="" href="{{BASE_URL}}/images/home/master-plan/3-Casa-Club.jpg" shape="poly" coords="664,108,687,97,684,73,657,70,648,85,654,103" />

            <area class="fancybox image" alt="4" title="" href="{{BASE_URL}}/images/home/master-plan/4-Gran-Cenote.jpg" shape="poly" coords="546,76,566,68,571,49,552,38,533,50,532,69" />
            <area class="fancybox image" alt="5" title="" href="{{BASE_URL}}/images/home/master-plan/5-Parque-Sendero-Cenotes.jpg" shape="poly" coords="396,50,412,42,414,21,397,13,377,20,381,45" />

            <area class="fancybox image" alt="6" title="" href="{{BASE_URL}}/images/home/master-plan/6-Cenote-Magico.jpg" shape="poly" coords="270,68,288,59,290,39,265,28,254,43,259,61"/>

            <!-- <area class="fancybox image" alt="7" title="" href="{{BASE_URL}}/images/home/master-plan/7-Parque-Alameda-Niños.jpg" shape="poly" coords="588,226,613,225,620,208,613,195,590,193,579,211" /> -->
            <area class="fancybox image" alt=7 title="" href="{{BASE_URL}}/images/home/master-plan/7-Parque-Alameda-Niños.jpg" shape="poly" coords="543,266,535,280,538,295,559,303,569,295,573,281,562,265" />
            <area class="fancybox image" alt="" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park2.jpg" shape="poly" coords="620,172,626,193,650,193,658,174,649,161,636,161" />
            <area class="fancybox image" alt="" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park1.jpg" shape="poly" coords="411,109,433,99,434,83,427,72,405,71,396,85,398,94" />
            
            <area class="fancybox image" alt="8" title="" href="{{BASE_URL}}/images/home/master-plan/8-Parque-Rosaleda.jpg" shape="poly" coords="481,418,502,412,504,396,496,383,477,383,466,394,466,403,473,415" />

            <area class="fancybox image" alt="9" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park.jpg" shape="poly" coords="141,542,154,519,136,505,123,507,114,523,119,538,134,546" />

            <!-- <area class="fancybox image" alt="9" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park.jpg" shape="poly" coords="670,956,687,958,693,963,699,968,698,982,691,988,683,994,665,994,657,986,658,968" /> -->    
            <area class="fancybox image" alt="10" title="" href="{{BASE_URL}}/images/home/master-plan/10-Baby-Park.jpg" shape="poly" coords="486,561,502,558,507,547,507,536,491,525,475,525,469,540,472,554,478,563" />

            <area class="fancybox image" alt="11" title="" href="{{BASE_URL}}/images/home/master-plan/11-Sendero-Sur.jpg" shape="poly" coords="276,553,292,547,299,535,298,521,285,515,269,521,260,529,262,543,267,549" />

            <area class="fancybox image" alt="12" title="" href="{{BASE_URL}}/images/home/master-plan/12-Acceso-Boulevard-Paruqe-Mexico.jpg" shape="poly" coords="58,381,69,369,75,354,62,342,41,349,32,360,36,373,46,380" />

            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="35,495,52,485,48,460,25,459,14,475,21,492" />

            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="158,756,172,743,169,720,143,724,134,735,141,752" />
            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="514,722,510,739,516,749,530,755,548,745,548,729,539,719,530,718" />

            <area class="fancybox image" alt="14" title="" href="{{BASE_URL}}/images/home/master-plan/14-The-Village-Mayakoba.jpg" shape="poly" coords="606,697,627,689,627,670,607,659,593,666,590,684" />

            <area class="fancybox image" alt="15" title="" href="{{BASE_URL}}/images/home/master-plan/15-Mayakoba-Country-Club.jpg" shape="poly" coords="675,522,693,507,685,488,664,489,655,502,658,516" />
          </map>
          <a class="cerrar2"><span class="button-masterplan flaticon-error position-absolute"></span></a>
        </div>
        <div class="col-sm-12" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
          <div class="row color-1 font-family-lato font-size-24 padding-tb-40">
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.1}}</p>
              <p>{{home.master_plan_mapa.2}}</p>
              <p>{{home.master_plan_mapa.3}}</p>
              <p>{{home.master_plan_mapa.4}}</p>
              <p>{{home.master_plan_mapa.5}}</p>
            </div>
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.6}}</p>
              <p>{{home.master_plan_mapa.7}}</p>
              <p>{{home.master_plan_mapa.8}}</p>
              <p>{{home.master_plan_mapa.9}}</p>
              <p>{{home.master_plan_mapa.10}}</p>
            </div>
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.11}}</p>
              <p>{{home.master_plan_mapa.12}}</p>
              <p>{{home.master_plan_mapa.13}}</p>
              <p>{{home.master_plan_mapa.14}}</p>
              <p>{{home.master_plan_mapa.15}}</p>
            </div>
            <div class="col-sm-12 text-center">
              <p class="margin-top-35">{{home.master_plan_mapa.16}}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row not-show-lotes div-master-plan-lotes visible-xs">
        <div>
          <img class="img-responsive width-100"  src="{{BASE_URL}}images/home/mapa-responsive/master-plan-mobile-senderos-mayakoba.jpg" alt="Senderos Mayakoba" border="0" usemap="#master1"> 
          <map name="master1" id="master1">
            <a class="fancybox image" alt="1" title="" href="{{BASE_URL}}images/home/master-plan/1-Acceso-Principal-Senderos-Mayakoba.jpg"><area shape="poly" coords="319,393,333,388,339,379,334,360,320,354,306,357,297,371,301,385" /></a>

            <area class="fancybox image" alt="2" title="" href="{{BASE_URL}}/images/home/master-plan/2-Acceso-Principal-Senderos-Norte.jpg" shape="poly" coords="414,410,433,406,435,384,422,377,395,383,401,409" />

            <area class="fancybox image" alt="3" title="" href="{{BASE_URL}}/images/home/master-plan/3-Casa-Club.jpg" shape="poly" coords="664,108,687,97,684,73,657,70,648,85,654,103" />

            <area class="fancybox image" alt="4" title="" href="{{BASE_URL}}/images/home/master-plan/4-Gran-Cenote.jpg" shape="poly" coords="546,76,566,68,571,49,552,38,533,50,532,69" />
            <area class="fancybox image" alt="5" title="" href="{{BASE_URL}}/images/home/master-plan/5-Parque-Sendero-Cenotes.jpg" shape="poly" coords="396,50,412,42,414,21,397,13,377,20,381,45" />

            <area class="fancybox image" alt="6" title="" href="{{BASE_URL}}/images/home/master-plan/6-Cenote-Magico.jpg" shape="poly" coords="270,68,288,59,290,39,265,28,254,43,259,61"/>

            <!-- <area class="fancybox image" alt="7" title="" href="{{BASE_URL}}/images/home/master-plan/7-Parque-Alameda-Niños.jpg" shape="poly" coords="588,226,613,225,620,208,613,195,590,193,579,211" /> -->
            <area class="fancybox image" alt=7 title="" href="{{BASE_URL}}/images/home/master-plan/7-Parque-Alameda-Niños.jpg" shape="poly" coords="543,266,535,280,538,295,559,303,569,295,573,281,562,265" />
            <area class="fancybox image" alt="" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park2.jpg" shape="poly" coords="620,172,626,193,650,193,658,174,649,161,636,161" />
            <area class="fancybox image" alt="" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park1.jpg" shape="poly" coords="411,109,433,99,434,83,427,72,405,71,396,85,398,94" />
            
            <area class="fancybox image" alt="8" title="" href="{{BASE_URL}}/images/home/master-plan/8-Parque-Rosaleda.jpg" shape="poly" coords="481,418,502,412,504,396,496,383,477,383,466,394,466,403,473,415" />

            <area class="fancybox image" alt="9" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park.jpg" shape="poly" coords="141,542,154,519,136,505,123,507,114,523,119,538,134,546" />

            <!-- <area class="fancybox image" alt="9" title="" href="{{BASE_URL}}/images/home/master-plan/9-Pet-Park.jpg" shape="poly" coords="670,956,687,958,693,963,699,968,698,982,691,988,683,994,665,994,657,986,658,968" /> -->    
            <area class="fancybox image" alt="10" title="" href="{{BASE_URL}}/images/home/master-plan/10-Baby-Park.jpg" shape="poly" coords="486,561,502,558,507,547,507,536,491,525,475,525,469,540,472,554,478,563" />

            <area class="fancybox image" alt="11" title="" href="{{BASE_URL}}/images/home/master-plan/11-Sendero-Sur.jpg" shape="poly" coords="276,553,292,547,299,535,298,521,285,515,269,521,260,529,262,543,267,549" />

            <area class="fancybox image" alt="12" title="" href="{{BASE_URL}}/images/home/master-plan/12-Acceso-Boulevard-Paruqe-Mexico.jpg" shape="poly" coords="58,381,69,369,75,354,62,342,41,349,32,360,36,373,46,380" />

            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="35,495,52,485,48,460,25,459,14,475,21,492" />

            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="158,756,172,743,169,720,143,724,134,735,141,752" />
            <area class="fancybox image" alt="13" title="" href="{{BASE_URL}}/images/home/master-plan/13-Area-Comercial.jpg" shape="poly" coords="514,722,510,739,516,749,530,755,548,745,548,729,539,719,530,718" />

            <area class="fancybox image" alt="14" title="" href="{{BASE_URL}}/images/home/master-plan/14-The-Village-Mayakoba.jpg" shape="poly" coords="606,697,627,689,627,670,607,659,593,666,590,684" />

            <area class="fancybox image" alt="15" title="" href="{{BASE_URL}}/images/home/master-plan/15-Mayakoba-Country-Club.jpg" shape="poly" coords="675,522,693,507,685,488,664,489,655,502,658,516" />
          </map>
          <a class="cerrar2"><span class="button-masterplan flaticon-error position-absolute"></span></a>
        </div>
        <div class="col-sm-12" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
          <div class="row color-1 font-family-lato font-size-24 padding-tb-40">
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.1}}</p>
              <p>{{home.master_plan_mapa.2}}</p>
              <p>{{home.master_plan_mapa.3}}</p>
              <p>{{home.master_plan_mapa.4}}</p>
              <p>{{home.master_plan_mapa.5}}</p>
            </div>
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.6}}</p>
              <p>{{home.master_plan_mapa.7}}</p>
              <p>{{home.master_plan_mapa.8}}</p>
              <p>{{home.master_plan_mapa.9}}</p>
              <p>{{home.master_plan_mapa.10}}</p>
            </div>
            <div class="col-sm-4 text-center padding-0">
              <p>{{home.master_plan_mapa.11}}</p>
              <p>{{home.master_plan_mapa.12}}</p>
              <p>{{home.master_plan_mapa.13}}</p>
              <p>{{home.master_plan_mapa.14}}</p>
              <p>{{home.master_plan_mapa.15}}</p>
            </div>
            <div class="col-sm-12 text-center">
              <p class="margin-top-35">{{home.master_plan_mapa.16}}</p>
            </div>
          </div>
        </div>
    </div>

    <!-- FINANCIAMIENTO -->
		<div class="row padding-tb-60 padding-bottom-responsive-35">
			<div class="col-sm-6 col-xs-12 vertical-padre-fina text-center">
				<div class="vertical-hijo-fina display-block">
					<h2 class="font-family-lato italic font-size-35 font-size-30-ipad margin-0
           color-2">{{home.financiamiento.title}}</h2>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 padding-left-25">
				<ul class="" style="color: #49B2A4;font-size: 20px">
					<li><p class="font-family-lato font-size-20 margin-0 color-3">{{home.financiamiento.1}}m&sup2</p></li>
					<li><p class="font-family-lato font-size-20 margin-0 color-3">{{home.financiamiento.2}}</p></li>
					<li><p class="font-family-lato font-size-20 margin-0 color-3">{{home.financiamiento.3}}</p></li>
					<li><p class="font-family-lato font-size-20 margin-0 color-3">{{home.financiamiento.4}}</p></li>
					<li><p class="font-family-lato font-size-20 margin-0 color-3">{{home.financiamiento.5}}</p></li>
				</ul>
			</div>
		</div>
    <!-- IMAGENES -->
  	<div class="row padding-0 ">
  		<div class="margin-top-30-ipad col-sm-3 img-responsive padding-0">
  			<img  class="width-100" src="{{BASE_URL}}/images/home/img-familia-ciclopista-senderos-ciudad-mayakoba.jpg" alt="Senderos Mayakoba">
  		</div>
  		<div class="hidden-xs col-sm-3 img-responsive padding-0">
  			<img  class="width-100" src="{{BASE_URL}}/images/home/img-pet-park-senderos-ciudad-mayakoba.jpg" alt="Senderos Mayakoba">
  		</div>

  		<div class="hidden-xs col-sm-3 img-responsive padding-0">
  			<img  class="width-100" src="{{BASE_URL}}/images/home/img-naturaleza-senderos-ciudad-mayakoba.jpg" alt="Senderos Mayakoba">
  		</div>

  		<div class="hidden-xs col-sm-3 img-responsive padding-0">
  			<img class="width-100"  src="{{BASE_URL}}/images/home/img-familia-senderos-ciudad-mayakoba.jpg" alt="Senderos Mayakoba">
  		</div>
  	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  var video = document.getElementById('video');
  video.addEventListener('click',function(){
  video.play();
},false);
</script>



<!-- <script type="text/javascript">
    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
</script> -->

<script type="text/javascript">
  var plan = JSON.parse('{{plan|json_encode|raw}}');
  $('.amenidades-home .single a').click(function (){
    $('.all').fadeIn('slow','swing');
    $('.amenidades-home').fadeOut(0,'swing');
    var id = $(this).attr('data-id');
    $('.array-image').attr("src",plan[id]['url']);
    document.getElementById("title").innerHTML = plan[id]['title'];
    document.getElementById("description").innerHTML = plan[id]['des'];
    });
</script>

<script type="text/javascript">
  $('.position-relative a.cerrar').click(function (){
    $('.all').fadeOut(0,'swing');
    $('.amenidades-home').fadeIn('slow','swing');
  });
</script>




<script type="text/javascript">
  $('.div-master-plan .vertical-hijo a').click(function (){
    $('.div-master-plan').fadeOut(0,'swing');
    $('.div-master-plan-lotes').fadeIn('slow','swing');
    $('.div-master-plan-lotes').toggleClass('show-lotes');
    $('.div-master-plan-lotes').toggleClass('not-show-lotes');
    });
</script>

<script type="text/javascript">
  $('.div-master-plan-lotes a.cerrar2').click(function (){
    $('.div-master-plan-lotes').fadeOut(0,'swing');
    $('.div-master-plan').fadeIn('slow','swing');
    $('.div-master-plan-lotes').toggleClass('not-show-lotes');
    $('.div-master-plan-lotes').toggleClass('show-lotes');
    
    
  });
</script>




<!-- <script type="text/javascript">
  var plan = JSON.parse('{{plan|json_encode|raw}}');
  $('.amenidades-home .single a').click(function (){
    $('.all').toggleClass('show');
    $('.all').fadeIn('slow','swing');
    $('.amenidades-home').toggleClass('not-show')
    var id = $(this).attr('data-id');
    $('.array-image').attr("src",plan[id]['url']);
    document.getElementById("description").innerHTML = plan[id]['des'];
    });
</script>
<script type="text/javascript">
  $('.text-description a').click(function (){
    $('.all').toggleClass('show');
    $('.amenidades-home').toggleClass('not-show')
  });
</script> -->
{% endblock  %}