{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}
<div class="container-fluid">
  	<div class="row">
		  <img class="img-responsive width-100" src="{{BASE_URL}}/images/home/banner-home-senderos-ciudad-mayakoba.jpg">  
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-12 text-center padding-tb-60">
  				<h1 class="font-family-lato italic font-size-45 color-2 margin-top-0">BLOG</h1>
  				<p class="font-family-lato font-size-30 margin-0 color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
  				<p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p>
  			</div>
  		</div>
  	</div>
    <div class="row">
      
    </div>
{% endblock %}

{% block js %}
{% endblock  %}