{% extends "base.html" %}
{% block tittle %}
  {{seo.senderos_norte.title}}
{% endblock %}

{% block description %}
  {{seo.senderos_norte.description}}
{% endblock %}

{% block keywords %}
  {{seo.senderos_norte.keywords}}
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700i" rel="stylesheet">
<style type="text/css">
  #hs{position: fixed!important;z-index: 2;bottom: 10%; width: 500px;}
  .cnt{background-image: url({{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_01.jpg);width: 400px;height: 200px;background-size: cover;padding-top: 15px; position: relative; float: left;}
  .arrow{width: 100px; float: left;}
  .p1{font-family: 'Raleway', sans-serif; font-size: 45px; font-weight: 900; font-style: italic; color: #48170E; text-align: center;line-height: 50px;letter-spacing: 10px;}
  .p2{font-family: 'Raleway', sans-serif; font-size: 25px; font-weight: 700; font-style: italic; color: #48170E; text-align: center;}
  .logo{width: 100px;margin-left: 20px;}
  .noventa{ width: 58px;margin-left: 200px;position: absolute;right: 10px;bottom: 10px;}
  @media (max-width: 767px) {
  #hs{ width: 250px;}
  .cnt{background-image: url({{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_01.jpg);width: 200px;height: 100px;background-size: cover;padding-top: 15px; position: relative; float: left;}
  .arrow{width: 50px; float: left;}
  .arrow img{height:100px!important;}
  .p1{font-size: 16px; font-weight: 900; font-style: italic; color: #48170E; text-align: center;line-height: 20px;letter-spacing: 5px;margin-bottom: 0;}
  .p2{ font-size: 14px; font-weight: 700;}
  .logo{width: 50px}
  .noventa{width: 35px;right: 5px; bottom: 5px;}
  }
</style>

<!--<div class="" id="hs" style="">
  <a href="http://www.senderosmayakoba.mx/index.php/contacto">
    <div class="cnt" style="">
      <p class="p1" style="">ÚLTIMA TEMPORADA</p>
      <p class="p2" style="">¿Te la vas a perder?</p>
      <img class="logo" style="" src="{{BASE_URL}}/images/molkajete/SENDEROS_logo.png">
      <img class="noventa" style="" src="{{BASE_URL}}/images/molkajete/SENDEROS_90.png">
    </div>
  </a>
  <div class="arrow" id="go" style="">
    <img style="height: 200px;" src="{{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_2_02.png">
  </div>
</div>-->


<div class="container-fluid" style="padding-top: 150px;">
    
    <!--<div class="row position-relative">
      <img class="img-responsive width-100" src="{{BASE_URL}}/images/senderos-norte/banner-sendero-norte.jpg">  
      <div class="col-sm-12 hidden-xs position-absolute-flecha text-center">
        <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
      </div>
    </div> -->
    <div class="container">
      <div class="row" id="1">

        <div style="text-align:center; padding-bottom: 50px;">
  
          <h3>En Senderos de Ciudad Mayakoba seguimos trabajando en crear nuevas opciones de desarrollos inmobiliarios sustentables, cuyas necesidades de estilo de vida van de la mano con un cuidado y equilibrio con la naturaleza.</h3>

          <h4>Estamos trabajando para ofrecerte un nuevo Sendero de opciones para tu próxima gran inversión.</h4>
        </div>

        <div class="col-sm-12 text-center padding-tb-60">
          <h1 class="font-family-lato italic font-size-45 color-2 margin-top-0 font-size-35-ipad">{{senderos_norte.senderos.title}}</h1>
          <p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{senderos_norte.senderos.description}}</p>
          <!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row images-icons amenidades-home padding-bot-60">
        <div class="col-sm-3  text-center">
          <a data-id="1" class="images-icons-content"><img class="img-responsive" src="{{BASE_URL}}/images/senderos-norte/amenidades-tamano-lotes.png"></a>
          <p class="font-size-20 color-4">LOSTES DESDE 160m2</p>
        </div>
        <div class="col-sm-3  text-center">
          <a data-id="1" class="images-icons-content"><img class="img-responsive" src="{{BASE_URL}}/images/senderos-norte/amenidades-hectareas-ciclopista.png"></a>
          <p class="font-size-20 color-4">250 HECTÁREAS DE  CICLOPISTA</p>
        </div>
        <div class="col-sm-3  text-center">
          <a data-id="1" class="images-icons-content"><img class="img-responsive" src="{{BASE_URL}}/images/senderos-norte/amenidades-parque-pet-friendly.png"></a>
          <p class="font-size-20 color-4">PARQUE PET FRIENDLY</p>
        </div>
        <div class="col-sm-3  text-center">
          <a data-id="1" class="images-icons-content"><img class="img-responsive" src="{{BASE_URL}}/images/senderos-norte/amenidades-senderos-cenotes.png"></a>
          <p class="font-size-20 color-4">SENDEROS Y CENOTES</p>
        </div>
      </div>
    </div> -->
    <div class="container hidden-xs">
      <div class="row images-icons amenidades-home padding-bot-60" >
        <div class="col-sm-3 single text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-tamano-lotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.1}}M&sup2</p>
        </div>
        <div class="col-sm-3  single text-center">
          <!-- <a data-id="2" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-hectareas-ciclopista.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.2}}</p>
        </div>
        <div class="col-sm-3 single text-center">
          <!-- <a data-id="3" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-parque-pet-friendly.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.3}}</p>
        </div>
        <div class="col-sm-3 single text-center">
          <!-- <a data-id="4" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-senderos-cenotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.4}}</p>
        </div>
      </div>
    </div>
    <!-- SLIDE RESPONSIVE ICONS -->
    <div class="row padding-0 visible-xs">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner amenidades-home-responsive" role="listbox">
    <div class="item active">
      <div class="col-sm-3 single text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-tamano-lotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.1}}M&sup2</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3  single text-center">
          <!-- <a data-id="2" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-hectareas-ciclopista.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.2}}</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3 single text-center">
          <!-- <a data-id="3" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-parque-pet-friendly.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.3}}</p>
        </div>
    </div>

    <div class="item">
      <div class="col-sm-3 single text-center">
          <!-- <a data-id="4" class="images-icons-content"> --><img class="img-responsive" src="{{BASE_URL}}images/senderos-norte/amenidades-senderos-cenotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_norte.iconos_senderos.4}}</p>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>






    <div class="row all-icons not-show padding-bot-60 position-relative">
      <div class="col-sm-6">
        <img class="img-center array-image">
      </div>
      <div class="col-sm-6 text-description text-center"> 
        <h1 id="description"></h1>
      </div>
      <a class="cerrar"><span class="flaticon-error position-absolute"></span></a>
    </div>

     <div class="row padding-tb-40 margin-top-30-ipad" id="disponibilidad" style="background-image: url('{{BASE_URL}}images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <div class="col-sm-6 text-center">
            <h1 class="font-family-lato italic font-size-45 font-size-35-ipad color-1 margin-0">{{senderos_norte.disponibilidad_senderos.disponibilidad_senderos}}</h1>
        </div>

        <div class="col-sm-6 text-center margin-top-30-ipad text-center">
            <select class="mapa select font-size-25-px font-family-lato" id="mapas">
              <option value=".mapa1">{{senderos_norte.senderos_select.1}}</option>
              <option value=".mapa2">{{senderos_norte.senderos_select.2 }}</option>
              <option value=".mapa3" selected>{{senderos_norte.senderos_select.3  }}</option>
            </select>
          </div>
        </div>
      <div class="row hidden-xs">
        <div class=" not-show-lotes mapa1 all-select">
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapa-disponibilidad-1er-etapa-senderos-norte.jpg" alt="" usemap="#Map" />
            <map name="Map" id="Map">
                <!--<a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/4-2.jpg"><area alt="2" title="" href="#" shape="poly" coords="544,606,543,656,566,654,566,607" /></a>-->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/4-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="727,608,727,658,750,657,752,610" /></a>
            </map>
          </div>
        <div class=" not-show-lotes mapa2 all-select" >
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapa-disponibilidad-2da-etapa-senderos-norte.jpg" alt="" usemap="#Map2" />
            <map name="Map2" id="Map2">
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/12-03.jpg"><area alt="17" title="" href="#" shape="poly" coords="522,491,480,481,485,462,524,472" /></a>

                <!--<a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/11-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="702,386,659,374,667,355,711,367" /></a>-->
            </map>
        </div>
        <div class=" show-lotes mapa3 all-select" >
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapa-disponibilidad-3er-etapa-senderos-norte.jpg" alt="" usemap="#Map3" />

            <map name="Map3" id="Map3">
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/16-2.jpg"><area alt="2" title="" href="#" shape="poly" coords="354,598,334,589,354,553,371,559" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/21-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="333,421,305,404,310,389,347,406" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/17-06.jpg"><area alt="" title="" href="#" shape="poly" coords="640,579,628,597,664,619,680,604" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-6.jpg"><area alt="6" title="" href="#" shape="poly" coords="437,471,389,454,396,437,440,449" /></a> -->
                <!--<a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="449,430,406,412,415,393,456,409" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="455,409,457,409,414,392,419,374,464,394" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="467,389,421,370,430,356,472,373" /></a>-->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="473,371,432,352,439,331,481,352" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-18.jpg"><area alt="18" title="" href="#" shape="poly" coords="483,350,440,328,448,314,492,334" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-20.jpg"><area alt="20" title="" href="#" shape="poly" coords="493,334,449,312,464,290,501,316" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-22.jpg"><area alt="22" title="" href="#" shape="poly" coords="504,318,463,288,473,274,512,299" /></a>
                <!--<a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-5.jpg"><area alt="5" title="" href="#" shape="poly" coords="487,465,443,450,448,434,489,447" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-7.jpg"><area alt="7" title="" href="#" shape="poly" coords="490,444,449,430,456,411,495,426" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-9.jpg"><area alt="09" title="" href="#" shape="poly" coords="500,425,460,410,468,393,507,408" /></a>
                 <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="508,407,467,390,475,371,519,393" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="519,389,478,370,484,354,524,375" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="526,374,486,352,492,336,531,358" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="532,357,495,336,503,319,540,339" /></a> -->
                <!--<a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-06.jpg"><area alt="06" title="" href="#" shape="poly" coords="561,527,531,494,542,479,578,508" /></a>-->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-8.jpg"><area alt="08" title="" href="#" shape="poly" coords="579,510,543,479,556,466,590,494" /></a> 
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="591,494,560,467,569,450,604,478" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="605,479,573,450,583,438,617,461" /></a>-->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-9.jpg"><area alt="09" title="" href="#" shape="poly" coords="612,538,581,511,593,498,625,522" /></a> -->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="626,524,593,493,607,480,639,505" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="641,503,609,479,618,463,653,486" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="655,486,620,462,631,446,669,470" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-17.jpg"><area alt="" title="" href="#" shape="poly" coords="666,471,629,448,641,432,679,453" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-19.jpg"><area alt="" title="" href="#" shape="poly" coords="682,452,643,428,651,414,690,431" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-21.jpg"><area alt="21" title="" href="#" shape="poly" coords="691,430,654,410,664,393,701,414" /></a>
            </map>
        </div>
      </div>




      <div class="row visible-xs">
        <div class=" not-show-lotes mapa1 all-select">
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapas-responsive/mapa-disponibilidad-1ra-etapa-senderos-norte.jpg" alt="" usemap="#Map4" />
            <map name="Map4" id="Map4">
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/4-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="519,602,521,660,545,661,543,611" /></a>
            </map>
        </div>
        <div class=" not-show-lotes mapa2 all-select" >
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapas-responsive/mapa-disponibilidad-2da-etapa-senderos-norte.jpg" alt="" usemap="#Map5" />
            <map name="Map5" id="Map5">
                
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/12-03.jpg"><area alt="17" title="" href="#" shape="poly" coords="271,482,269,501,312,514,318,490" /></a>

                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/11-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="470,360,463,380,517,395,526,374" /></a>
            </map>
        </div>
        <div class=" show-lotes mapa3 all-select" >
            <img class="width-100" src="{{BASE_URL}}images/senderos-norte/mapas-responsive/mapa-disponibilidad-3er-etapa-senderos-norte.jpg" alt="" usemap="#Map6" />

            <map name="Map6" id="Map6">
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/16-2.jpg"><area alt="2" title="" href="#" shape="poly" coords="354,598,334,589,354,553,371,559" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/21-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="333,421,305,404,310,389,347,406" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/17-06.jpg"><area alt="" title="" href="#" shape="poly" coords="640,579,628,597,664,619,680,604" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-6.jpg"><area alt="6" title="" href="#" shape="poly" coords="437,471,389,454,396,437,440,449" /></a> -->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="299,432,254,412,259,393,306,409" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="306,408,259,390,268,372,315,392" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="312,389,271,368,280,351,323,371" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="282,348,325,370,332,356,290,334" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-18.jpg"><area alt="18" title="" href="#" shape="poly" coords="332,351,287,329,296,312,342,335" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-20.jpg"><area alt="20" title="" href="#" shape="poly" coords="342,329,352,316,307,291,299,308" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-22.jpg"><area alt="22" title="" href="#" shape="poly" coords="353,314,310,292,321,274,362,298" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-5.jpg"><area alt="5" title="" href="#" shape="poly" coords="337,462,290,451,298,430,341,448" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-7.jpg"><area alt="7" title="" href="#" shape="poly" coords="344,444,300,428,308,412,348,425" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-9.jpg"><area alt="09" title="" href="#" shape="poly" coords="356,408,315,391,308,409,351,426" /></a>
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="508,407,467,390,475,371,519,393" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="519,389,478,370,484,354,524,375" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="526,374,486,352,492,336,531,358" /></a> -->
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/20-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="532,357,495,336,503,319,540,339" /></a> -->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-06.jpg"><area alt="06" title="" href="#" shape="poly" coords="412,524,378,492,392,476,429,506" /></a>
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-8.jpg"><area alt="08" title="" href="#" shape="poly" coords="579,510,543,479,556,466,590,494" /></a> -->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="440,493,454,477,415,449,401,462" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="454,476,417,448,430,433,468,461" /></a>
                <!-- <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-9.jpg"><area alt="09" title="" href="#" shape="poly" coords="612,538,581,511,593,498,625,522" /></a> -->
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="474,524,440,493,454,480,491,506" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="488,501,500,486,467,461,455,479" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="505,485,515,470,477,444,468,461" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="515,468,525,450,490,428,479,442" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-19.jpg"><area alt="19" title="" href="#" shape="poly" coords="528,448,492,425,501,410,540,433" /></a>
                <a  class="fancybox image" href="{{BASE_URL}}images/senderos-norte/popup/18-21.jpg"><area alt="21" title="" href="#" shape="poly" coords="538,429,503,409,511,390,550,413" /></a>
            </map>
        </div>
      </div>











  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center padding-tb-60">
        <h1 class="font-family-lato italic font-size-45 color-2 margin-top-0 font-size-35-ipad">{{senderos_norte.avances_de_obra.title}}</h1>
        <p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{senderos_norte.avances_de_obra.description}}</p>
        <!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
    </div>
    </div>
  <div class="row padding-0 visible-xs">
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="1"><img class="width-100" src="{{BASE_URL}}/images/senderos-norte/avance-obra-senderos-mayakoba(1).jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="2"><img class="width-100" src="{{BASE_URL}}/images/senderos-norte/avance-obra-senderos-mayakoba(2).jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="3"><img class="width-100" src="{{BASE_URL}}/images/senderos-norte/avance-obra-senderos-mayakoba(3).jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/senderos-norte/avance-obra-senderos-mayakoba(4).jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/2-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/3-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/6-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/7-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/9-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/11-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/15-325x327.jpg"></a>
      </div>
    </div>

     <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/17-325x327.jpg"></a>
      </div>
    </div>



  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

  <div class="row images-show images-content hidden-xs">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="1"><img class="width-100" src="{{BASE_URL}}/images/avancedeobra/norte-avance-obra-senderos-mayakoba(1).jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="2"><img class="width-100" src="{{BASE_URL}}/images/avancedeobra/norte-avance-obra-senderos-mayakoba(2).jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="3"><img class="width-100" src="{{BASE_URL}}/images/avancedeobra/norte-avance-obra-senderos-mayakoba(3).jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/avancedeobra/norte-avance-obra-senderos-mayakoba(4).jpg"></a>
      </div>
  </div>

  <div class="row images-show images-content hidden-xs">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="5"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/2-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="6"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/3-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="7"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/6-325x327.jpg"></a>
      </div>
       <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="8"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/7-325x327.jpg"></a>
      </div>
  </div>

  <div class="row images-show images-content hidden-xs">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="5"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/9-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="6"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/11-325x327.jpg"></a>
      </div>
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="7"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/15-325x327.jpg"></a>
      </div>
       <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="8"><img class="width-100" src="{{BASE_URL}}/images/secciones/norte/17-325x327.jpg"></a>
      </div>
  </div>



  <div class="row images-show not-show images-content-show">
    <div class="col-sm-12 padding-0">
      <img class="img-center width-100 array-image img-responsive" src="">
      <a class="cerrar2"><span class="button-masterplan flaticon-error position-absolute"></span></a>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
  
  obj = document.getElementById('hs');
  obj.style.position='fixed'; 

  $( "#go" ).click(function() { 
    $( "#hs" ).animate({ 
      left: "0", 
    }, 1500 ); 
  }); 

  function shake(interval) {
      if ($(window).width() <= 767){
          $( "#hs" ).animate({ 
            left: "-200",
          }, interval );
        }
        else{
          $( "#hs" ).animate({ 
            left: "-400",
          }, interval );
        }
       
    
  }

  setInterval(function(){
      shake(1500);
  }, 10000)
});
</script>

{% endblock  %}