{% extends "base.html" %}

{% block tittle %}
  {{seo.senderos.title}}
{% endblock %}

{% block description %}
  {{seo.senderos.description}}
{% endblock %}

{% block keywords %}
  {{seo.senderos.keywords}}
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Raleway:400,700i" rel="stylesheet">
<style type="text/css">
  #hs{position: fixed!important;z-index: 2;bottom: 10%; width: 500px;}
  .cnt{background-image: url({{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_01.jpg);width: 400px;height: 200px;background-size: cover;padding-top: 15px; position: relative; float: left;}
  .arrow{width: 100px; float: left;}
  .p1{font-family: 'Raleway', sans-serif; font-size: 45px; font-weight: 900; font-style: italic; color: #48170E; text-align: center;line-height: 50px;letter-spacing: 10px;}
  .p2{font-family: 'Raleway', sans-serif; font-size: 25px; font-weight: 700; font-style: italic; color: #48170E; text-align: center;}
  .logo{width: 100px;margin-left: 20px;}
  .noventa{ width: 58px;margin-left: 200px;position: absolute;right: 10px;bottom: 10px;}
  @media (max-width: 767px) {
  #hs{ width: 250px;}
  .cnt{background-image: url({{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_01.jpg);width: 200px;height: 100px;background-size: cover;padding-top: 15px; position: relative; float: left;}
  .arrow{width: 50px; float: left;}
  .arrow img{height:100px!important;}
  .p1{font-size: 16px; font-weight: 900; font-style: italic; color: #48170E; text-align: center;line-height: 20px;letter-spacing: 5px;margin-bottom: 0;}
  .p2{ font-size: 14px; font-weight: 700;}
  .logo{width: 50px}
  .noventa{width: 35px;right: 5px; bottom: 5px;}
  }
</style>

<!--<div class="" id="hs" style="">
  <a href="http://www.senderosmayakoba.mx/index.php/contacto">
    <div class="cnt" style="">
      <p class="p1" style="">ÚLTIMA TEMPORADA</p>
      <p class="p2" style="">¿Te la vas a perder?</p>
      <img class="logo" style="" src="{{BASE_URL}}/images/molkajete/SENDEROS_logo.png">
      <img class="noventa" style="" src="{{BASE_URL}}/images/molkajete/SENDEROS_90.png">
    </div>
  </a>
  <div class="arrow" id="go" style="">
    <img style="height: 200px;" src="{{BASE_URL}}/images/molkajete/SENDEROS_WEBBANNERAD_2_02.png">
  </div>
</div> -->

<a id="pop" data-fancybox data-src="#example2" href="#example2"></a>
<div id="example2" style="display:none; text-align: center;background-color: rgba(0,0,0,.1);">
    <img style="width: 70%" src="http://www.senderosmayakoba.mx/images/molkajete/banner-1.jpg" />
</div>



<div class="container-fluid"  style="padding-top: 150px;">
    <!--<div class="row position-relative text-center">
      <img class="img-responsive width-100" src="{{BASE_URL}}/images/senderos-mayakoba/banner-senderos-mayakoba.jpg">
      <div class="col-sm-12 hidden-xs position-absolute-flecha text-center">
        <a href="#1"><span class="flaticon-down-arrow color-1"></span></a>
      </div>
    </div> -->
    <div class="container">
    <div class="row" id="1">

      <div style="text-align:center; padding-bottom: 50px;">
  
          <h3>En Senderos de Ciudad Mayakoba seguimos trabajando en crear nuevas opciones de desarrollos inmobiliarios sustentables, cuyas necesidades de estilo de vida van de la mano con un cuidado y equilibrio con la naturaleza.</h3>

          <h4>Estamos trabajando para ofrecerte un nuevo Sendero de opciones para tu próxima gran inversión.</h4>
        </div>


      <div class="col-sm-12 text-center padding-tb-60">
        <h1 class="font-family-lato italic font-size-45 color-2 margin-top-0  font-size-35-ipad">{{senderos_mayakoba.senderos.title}}</h1>
        <p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{senderos_mayakoba.senderos.description}}</p>
         <p class="font-family-lato font-size-30 margin-0 color-3"></p>
      </div>
    </div>
    </div>
    <div class="container hidden-xs">
      <div class="row images-icons amenidades-home padding-bot-60">
        <div class="col-sm-3 single text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive"  src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-tamano-lotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.1}}M&sup2</p>
        </div>
        <div class="col-sm-3  single text-center">
        <!-- <a data-id="2"  class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-hectareas-ciclopista.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.2}}</p>
          <!-- </a> -->
        </div>
        <div class="col-sm-3 single text-center">
        <!-- <a data-id="3" class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-parque-pet-friendly.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.3}}</p>
        </div>
        <div class="col-sm-3 single text-center">
        <!-- <a data-id="4" class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-senderos-cenotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.4}}</p>
        </div>
      </div>
    </div>
    <!-- SLIDE RESPONSIVE ICONS -->
    <div class="row padding-0 visible-xs">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol> -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner amenidades-home-responsive" role="listbox">
        <div class="item active">
          <div class="col-sm-3 single text-center">
          <!-- <a data-id="1" class="images-icons-content"> --><img class="img-responsive"  src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-tamano-lotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.1}}M&sup2</p>
        </div>
        </div>

        <div class="item">
          <div class="col-sm-3  single text-center">
        <!-- <a data-id="2"  class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-hectareas-ciclopista.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.2}}</p>
          <!-- </a> -->
        </div>
        </div>

        <div class="item">
          <div class="col-sm-3 single text-center">
        <!-- <a data-id="3" class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-parque-pet-friendly.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.3}}</p>
        </div>
        </div>

        <div class="item">
          <div class="col-sm-3 single text-center">
        <!-- <a data-id="4" class="images-icons-content"> -->
          <img class="img-responsive" src="{{BASE_URL}}/images/senderos-mayakoba/amenidades-senderos-cenotes.png"><!-- </a> -->
          <p class="font-size-20 color-4">{{senderos_mayakoba.iconos_senderos.4}}</p>
        </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>





    <div class="row all-icons not-show padding-bot-60 position-relative">
      <div class="col-sm-6">
        <img class="img-center array-image">
      </div>
      <div class="col-sm-6 text-description text-center"> 
        <h1 id="description"></h1>
      </div>
      <a class="cerrar"><span class="flaticon-error position-absolute"></span></a>
    </div>
    <div class="row padding-tb-40 margin-top-30-ipad" id="disponibilidad" style="background-image: url('{{BASE_URL}}/images/general/bg-madera-senderos-ciudad-mayakoba.jpg');">
        <div class="col-sm-6 text-center ">
            <h1 class=" text-center font-family-lato italic font-size-45 font-size-35-ipad color-1 margin-0">{{senderos_mayakoba.disponibilidad.title}}</h1>
        </div>
        <div class="col-sm-6 text-center text-center margin-top-30-ipad">
            <span class="disponibilidad-select">
            <select class="mapa select font-family-lato font-size-25-px " id="mapas">
              <option value=".mapa1">{{senderos_mayakoba.disponibilidad.etapa1}}</option>
              <option value=".mapa2">{{senderos_mayakoba.disponibilidad.etapa2}}</option>
              <option value=".mapa3">{{senderos_mayakoba.disponibilidad.etapa3}}</option>
              <option value=".mapa4" selected>{{senderos_mayakoba.disponibilidad.etapa4}}</option>
            </select>
            </span>
        </div>
    </div>


  <div class="row hidden-xs" >
    <div class="not-show-lotes mapa1 all-select">
        <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapa-disponibilidad-1er-etapa-senderos-mayakoba.jpg">
    </div>
    <div class=" not-show-lotes mapa2 all-select" >
      <img class="width-100" src="{{BASE_URL}}images/senderos-mayakoba/mapa-disponibilidad-2da-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map" />
      <map name="Map" id="Map">
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/40-52.jpg"><area alt="" title="" href="" shape="poly" coords="256,104,257,166,276,166,276,104,278,105" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/40-50.jpg"><area alt="" title="" href="" shape="poly" coords="278,108,279,168,297,165,297,108" /></a>
      </map>
    </div>
    <div class=" not-show-lotes mapa3 all-select" >
      <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapa-disponibilidad-3er-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map3" />
      <map name="Map3" id="Map3">
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-23.jpg"><area alt="23" title="" href="#" shape="poly" coords="495,649,495,702,514,706,519,646" /></a>
          <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-24.jpg"><area alt="24" title="" href="#" shape="poly" coords="520,649,522,708,546,706,543,652" /></a>-->
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-25.jpg"><area alt="25" title="" href="#" shape="poly" coords="546,649,549,711,566,706,567,649" /></a>
          <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="618,651,621,708,642,708,642,647" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="645,648,647,707,664,707,662,650" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/27-72.jpg"><area alt="72" title="" href="#" shape="poly" coords="550,556,550,580,597,581,597,554" /></a>-->
          <!-- <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/27-84.jpg"><area alt="84" title="" href="#" shape="poly" coords="567,318,572,343,618,330,611,310" /></a> 
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/27-86.jpg"><area alt="86" title="" href="#" shape="poly" coords="556,271,561,295,608,282,601,259" /></a> -->
      </map>
    </div>
    <div class=" show-lotes mapa4 all-select" >
      <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapa-disponibilidad-4ta-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map4" />

    <map name="Map4" id="Map4">
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-40.jpg"><area alt="40" title="" href="#" shape="poly" coords="397,655,392,629,348,636,351,657" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-37.jpg"><area alt="37" title="" href="#" shape="poly" coords="378,577,335,580,330,554,373,551" /></a>
    <!-- <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-33.jpg"><area alt="33" title="" href="#" shape="poly" coords="389,430,346,406,371,373,404,398" /></a> -->
    <!-- <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-32.jpg"><area alt="32" title="" href="#" shape="poly" coords="408,398,376,372,392,346,429,374" /></a> 
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-31.jpg"><area alt="31" title="" href="#" shape="poly" coords="430,372,400,344,422,325,456,354" /></a>-->
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-30.jpg"><area alt="30" title="" href="#" shape="poly" coords="458,354,426,322,445,302,480,333" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="480,331,451,300,467,276,500,308" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="503,311,475,278,481,263,519,286" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-27.jpg"><area alt="27" title="" href="#" shape="poly" coords="522,287,484,261,493,242,537,262" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-26.jpg"><area alt="26" title="" href="#" shape="poly" coords="537,260,499,239,507,216,551,238" /></a>
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="430,452,390,428,409,402,445,427" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="448,429,413,398,432,377,467,406" /></a>
    <!-- <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="468,407,435,376,458,360,493,392" /></a> -->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="493,386,460,355,482,335,514,367" /></a>
   <!-- <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="515,364,484,333,503,311,537,344" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="540,340,507,310,523,289,561,314" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="562,312,525,286,538,263,575,285" /></a>
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-17.jpg"><area alt="17" title="" href="#" shape="poly" coords="580,285,543,261,552,241,594,258" /></a>
     <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-18.jpg"><area alt="18" title="" href="#" shape="poly" coords="533,588,494,566,503,548,541,569" /></a> 
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-24.jpg"><area alt="24" title="" href="#" shape="poly" coords="545,472,510,446,522,423,558,450" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-25.jpg"><area alt="25" title="" href="#" shape="poly" coords="561,450,527,421,546,401,577,428" /></a>
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-26.jpg"><area alt="26" title="" href="#" shape="poly" coords="580,429,543,397,562,380,595,407" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-27.jpg"><area alt="27" title="" href="#" shape="poly" coords="596,406,562,376,577,354,615,387" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="615,384,579,355,594,338,633,365" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="632,365,632,363,597,334,614,313,649,342" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-30.jpg"><area alt="30" title="" href="#" shape="poly" coords="649,343,615,311,631,293,667,320" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-31.jpg"><area alt="31" title="" href="#" shape="poly" coords="666,321,668,319,632,290,646,274,685,300" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="585,500,547,473,561,453,595,477" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="599,480,564,448,578,432,613,456" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="616,456,583,428,598,410,638,439" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="637,437,600,407,616,389,652,416" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="654,416,616,384,633,367,669,393" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="671,393,635,363,651,348,684,373" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-09.jpg"><area alt="09" title="" href="#" shape="poly" coords="684,371,652,343,667,326,703,353" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-08.jpg"><area alt="08" title="" href="#" shape="poly" coords="705,352,670,322,685,303,721,330" /></a>
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="683,503,645,476,662,455,700,483" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="700,482,665,453,676,437,716,465" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="717,463,680,436,691,418,732,448" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="745,427,711,396,722,377,764,410" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="763,411,726,379,741,362,778,390" /></a>
    </map>
    </div>
  </div>






  <div class="row visible-xs">
    <div class="not-show-lotes mapa1 all-select">
        <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapas-responsive/mapa-disponibilidad-1er-etapa-senderos-mayakoba.jpg">
    </div>
    <div class=" not-show-lotes mapa2 all-select" >
      <img class="width-100" src="{{BASE_URL}}images/senderos-mayakoba/mapas-responsive/mapa-disponibilidad-2da-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map5" />
      <map name="Map5" id="Map5">
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/40-50.jpg"><area alt="" title="" href="" shape="poly" coords="212,139,188,139,188,80,209,77" /></a>
      </map>
    </div>
    <div class=" not-show-lotes mapa3 all-select" >
      <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapas-responsive/mapa-disponibilidad-3ra-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map6" />
      <map name="Map6" id="Map6">
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-23.jpg"><area alt="23" title="" href="#" shape="poly" coords="306,650,306,711,332,711,329,650" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-24.jpg"><area alt="24" title="" href="#" shape="poly" coords="331,651,329,709,356,707,352,655" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-25.jpg"><area alt="25" title="" href="#" shape="poly" coords="356,649,356,711,379,711,379,651" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="428,649,428,710,451,711,453,649" /></a>
          <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/31-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="454,650,452,712,477,710,477,650" /></a>
          <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/27-72.jpg"><area alt="72" title="" href="#" shape="poly" coords="360,556,360,580,410,584,408,560" /></a>-->
      </map>
    </div>
    <div class=" show-lotes mapa4 all-select" >
      <img class="width-100 " src="{{BASE_URL}}images/senderos-mayakoba/mapas-responsive/mapa-disponibilidad-4ta-etapa-senderos-mayakoba.jpg" alt="" usemap="#Map7" />

    <map name="Map7" id="Map7">
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-40.jpg"><area alt="40" title="" href="#" shape="poly" coords="193,639,197,662,245,658,239,629" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-37.jpg"><area alt="37" title="" href="#" shape="poly" coords="168,554,172,582,224,581,214,549" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-31.jpg"><area alt="31" title="" href="#" shape="poly" coords="239,341,275,376,302,356,270,322" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-30.jpg"><area alt="30" title="" href="#" shape="poly" coords="270,320,303,357,326,337,294,303" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="295,301,327,334,348,312,312,280" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="314,275,350,308,367,288,331,260" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-27.jpg"><area alt="27" title="" href="#" shape="poly" coords="328,259,369,286,386,265,342,237" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-26.jpg"><area alt="26" title="" href="#" shape="poly" coords="345,233,386,259,401,235,356,215" /></a>
    <!--<a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="253,398,293,429,315,410,277,378" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="305,355,338,390,363,367,327,338" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="328,333,363,366,385,341,351,312" /></a>-->
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="352,310,385,340,407,317,368,290" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="370,287,408,316,424,286,385,263" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/28-17.jpg"><area
     alt="17" title="" href="#" shape="poly" coords="424,284,386,260,400,240,438,252" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-25.jpg"><area alt="25" title="" href="#" shape="poly" coords="368,419,408,452,427,428,387,400" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-26.jpg"><area alt="26" title="" href="#" shape="poly" coords="428,425,391,397,404,381,445,409" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-27.jpg"><area alt="27" title="" href="#" shape="poly" coords="444,406,408,375,423,357,461,385" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-28.jpg"><area alt="28" title="" href="#" shape="poly" coords="423,352,462,385,479,365,442,336" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-29.jpg"><area alt="29" title="" href="#" shape="poly" coords="444,334,480,365,497,343,461,315" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-30.jpg"><area alt="30" title="" href="#" shape="poly" coords="498,342,460,312,475,294,513,322" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-31.jpg"><area alt="31" title="" href="#" shape="poly" coords="513,321,479,289,493,272,533,300" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="409,453,391,475,432,501,448,481" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-14.jpg"><area alt="14" title="" href="#" shape="poly" coords="448,480,412,453,428,431,464,459" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="429,428,463,459,480,441,446,410" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="481,438,446,407,462,387,499,414" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-11.jpg"><area alt="11" title="" href="#" shape="poly" coords="499,412,464,385,479,364,517,395" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-10.jpg"><area alt="10" title="" href="#" shape="poly" coords="515,393,482,362,498,344,533,374" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-09.jpg"><area alt="09" title="" href="#" shape="poly" coords="532,374,498,342,515,323,551,351" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/26-08.jpg"><area alt="08" title="" href="#" shape="poly" coords="517,321,551,352,570,332,531,303" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-12.jpg"><area alt="12" title="" href="#" shape="poly" coords="545,485,509,455,524,436,564,465" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-13.jpg"><area alt="13" title="" href="#" shape="poly" coords="564,463,528,435,544,415,580,451" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-15.jpg"><area alt="15" title="" href="#" shape="poly" coords="558,397,597,429,611,409,575,381" /></a>
    <a  class="fancybox image" href="{{BASE_URL}}/images/senderos-mayakoba/popup/24-16.jpg"><area alt="16" title="" href="#" shape="poly" coords="573,376,613,409,628,393,589,359" /></a>
    </map>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center padding-tb-60">
        <h1 class="font-family-lato italic font-size-45 color-2 margin-top-0 font-size-35-ipad">{{senderos_mayakoba.avances_de_obra.title}}</h1>
        <p class="font-family-lato font-size-30 margin-0 color-3 margin-top-35">{{senderos_mayakoba.avances_de_obra.description}}</p>
        <!-- <p class="font-family-lato font-size-30 margin-0 color-3">tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>
    </div>
    </div>

    <!-- SLIDE RESPONSIVE IMAGES -->
    <div class="row padding-0 visible-xs">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!--<div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="1"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/1-325x327.jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="2"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/4-325x327.jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="3"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/10-325x327.jpg"></a>
      </div>
    </div>

    <div class="item">
      <div class="col-sm-3 img-responsive padding-0">
        <a href="#." class="point" data-id="4"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/12-325x327.jpg"></a>
      </div>
    </div>
  </div>-->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

    

    <div class="row images-show images-content hidden-xs">
        <div class="col-sm-4 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="5"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/13-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/13-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/13-325x327.jpg">
            </a>
        </div>
        <div class="col-sm-4 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="6"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/14-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/14-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/14-325x327.jpg">
            </a>
        </div>
        <div class="col-sm-4 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="7"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/20-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/20-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/20-325x327.jpg">
            </a>
        </div>
    </div>

    <div class="row images-show images-content hidden-xs">
        <div class="col-sm-3 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="8"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/1-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/1-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/1-325x327.jpg">
            </a>
        </div>
        <div class="col-sm-3 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="9"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/4-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/4-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/4-325x327.jpg">
            </a>
        </div>
        <div class="col-sm-3 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="10"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/10-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/10-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/10-325x327.jpg">
            </a>
        </div>
        <div class="col-sm-3 img-responsive padding-0">
            <!-- <a href="#." class="point" data-id="11"><img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/12-325x327.jpg"></a> -->
            <a class="fancybox image" rel="group" href="{{BASE_URL}}/images/secciones/senderos/12-1300x610.jpg">
                <img class="width-100" src="{{BASE_URL}}/images/secciones/senderos/12-325x327.jpg">
            </a>
        </div>
    </div>

    <div class="row images-show not-show images-content-show">
        <div class="col-sm-12 padding-0">
          <img class="width-100 img-center array-image img-responsive" src="">
          <a class="cerrar2"><span class="button-masterplan flaticon-error position-absolute"></span></a>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
  
  obj = document.getElementById('hs');
  obj.style.position='fixed'; 

  $( "#go" ).click(function() { 
    $( "#hs" ).animate({ 
      left: "0", 
    }, 1500 ); 
  }); 

  function shake(interval) {
      if ($(window).width() < 768){
          $( "#hs" ).animate({ 
          
            left: "-200",
          }, interval );
        }
        else{
          $( "#hs" ).animate({ 
          
            left: "-400",
          }, interval );
        }
       
    
  }

  setInterval(function(){
      shake(1500);
  }, 10000)
});
</script>
{% endblock  %}