@font-face {
	font-family: 'icomoon';
	src:url('../fonts/pinterest/fonts/icomoon.eot?-cb001f');
	src:url('../fonts/pinterest/fonts/icomoon.eot?#iefix-cb001f') format('embedded-opentype'),
		url('../fonts/pinterest/fonts/icomoon.woff?-cb001f') format('woff'),
		url('../fonts/pinterest/fonts/icomoon.ttf?-cb001f') format('truetype'),
		url('../fonts/pinterest/fonts/icomoon.svg?-cb001f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-instagram12-01{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.icon-instagram12-01:before {
	content: "\e600";
}