#landing {
	background: url('../images/landing/bg-pareja-senderos-mayakoba.jpg');
	background-repeat:no-repeat;
    background-size: 100%;
}
#texto {
	color: white;
	padding: 50px 0px 100px 0px
}
#footerlanding {
	background: url('../images/landing/textura-madera.png');
	height: auto;
    padding:20px 0;
}

#h2{
	padding-top:25px;
	color: white!important;
	text-align: center;
}

.white{color:#fff;}

#logotipo-senderos-mayakoba{
	background:url('../images/landing/logotipo-senderos-mayakoba.png');
}
.roboto{font-family: 'Roboto', sans-serif;}
.bold{font-weight:bold ;}
.semi-bold{font-weight:600 ;}
.size-45{font-size: 45px;}
.size-35{font-size: 35px;}
.size-25{font-size: 25px;}
.size-20{font-size: 20px;}
.text-shadow{text-shadow:4px 4px 10px #000;;}


